@charset "utf-8";

body{color:#222;font-family: Tahoma, sans-serif;font-size: 12px;margin:0;padding:0; min-width:1340px;}

img{max-width: 100%;}

a{font-size:12px;cursor:pointer;}

a:hover{color:#d00;}

.red{color:#e00 !important;}

.ul{padding:0;margin:0;list-style:none;}

.nopad_r{padding-right:0 !important;}

.nopad_l{padding-left:0 !important;}

.nomar_r{margin-right:0 !important;}

.nomar_l{margin-left:0 !important;}

.nomar_t{margin-top:0 !important;}

.nobdr{border:none !important;}

.nobdr_l{border-left:none !important;}

.nobdr_r{border-right:none !important;}

.nobg{background:none !important;}

.font11{font-size:11px;}

.font13{font-size:13px;}

img{border:none;}

.clear{clear:both;}

.line_through{text-decoration:line-through;}

.underline{text-decoration:underline;}

.float_l{float:left !important;}

.float_r{float:right !important;}

.space{height:5px;clear:both;display:block;}

.space2{height:10px;clear:both;display:block;}

#text_search{width:302px;height:25px;border:none;margin-right:10px;background:none;float:left;outline:none;margin-top:2px;}

input[type="text"],input[type="password"]{width:300px;height:25px;border:solid 1px #ddd;padding-left:5px;margin-right:10px;}

.bg{background:url(..//images/sprite.png) no-repeat;display:inline-block;}

#wrap{}

.container{width:1200px;margin:auto;}

#top{height:30px;background:#000;color:white;font-size:11px;}

#top > .container > ul > li{float:left;line-height:30px;margin-right:27px;position:relative;white-space: nowrap;}

#top a{text-decoration:none;color:white;font-size:11px;}

#top b{font-size:12px;}

#top ul li:last-child{float:right;}

#header{height:115px;position:relative;margin-bottom:2px;}

#search{width:358px;height:30px;background-position:-0px -225px;float:left;margin-left:7px;margin-top:6px;position:relative;margin-right:5px;}

#submit_search{height:30px;width:34px;border:none;cursor:pointer;float:right;background:none;font-size:0;background-image: url(../images/google_web_search.png); background-size: 100%; background-position: 1px center}

#logo{float:left;text-decoration:none;margin-top: -6px;}

#logo img{height: 115px;}

#header_center{width:470px;float:left;height:100%;border:dotted 1px #aaa;}

#header_right{float:right;margin-top:30px;}

#nav_horizontal{z-index:9999;width:980px;line-height:43px;float:right;background:url(../images/bg_nav_horizontal.png) left top repeat-x;border-radius:3px 3px 0 0;color:white;}

#nav_horizontal.fixed{position:fixed;top:0;width:1200px;z-index: 9991;}

#nav_horizontal.fixed ul li a{padding:0 15px;}

#nav_horizontal ul li{float:left;line-height:43px;height:43px; color: #fff !important;}

#nav_horizontal ul li:hover{color: red; padding: 5px;border-radius: 5px;}

#nav_horizontal ul li a{text-decoration:none;color:#fff;font-size:13px;text-transform:uppercase;padding:0 8px; letter-spacing: -1px;}

#nav_horizontal ul li a:hover {color: #000;}

#nav_horizontal ul li a.root{line-height:32px;padding:0 20px;color:white;}

#nav_vertical{width:210px;float:left;position:relative;z-index: 200;}

#nav_vertical a{text-decoration:none;display:block;}

#content_top{margin-bottom:10px;}

#slider{width:980px;height:419px;position:relative;margin-right:10px;overflow:hidden;}

#bigPic img{width:720px;height:310px;float:left;}

#content_top_right{width:250px;float:right;height:310px;overflow:hidden;}

#content_left{width:210px;float:left;margin-right:12px;}

#content_center{width:940px;float:left;min-height:200px;}

#content_right{width:245px;min-height:200px;float:right;}

.box_left{margin-bottom:10px;overflow:hidden;}

.title_box_left{margin:0;font-size:15px;padding:0 10px;line-height:32px;background:#222;color:white;font-weight:bold;border-radius:3px 3px 0 0;}

.box_right{margin-bottom:10px;overflow:hidden;}

.title_box_right{margin:0;font-size:13px;padding:0 10px;background:url(../images/bg_gradient_red.png);color:white;line-height:35px;border-radius:3px 3px 0 0;}

.title_box_center{height:35px;line-height:35px;border-bottom:solid 2px #D3C80A;overflow:hidden;}

.title_box_center h2{margin:0;padding:0 10px;float:left;font-size:15px;color:white;}

.title_box_center .sub_cat_title{float:left;padding-right:10px;line-height:42px;max-width: 860px;}

.title_box_center .sub_cat_title a{text-decoration:none;padding:0 5px;border-left:solid 1px #444;color: #333;font-size: 13px;}

.product_list ul{padding:0;margin:0;list-style:none;}

.product_list a{text-decoration:none;}

.product_list ul li{width: 186px;height:271px;float:left;border:solid 1px #ccc;position:relative;margin-bottom: -1px;margin-left: -1px;}

.p_container{padding: 10px;}

.p_sku{color:red;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.p_img img{max-width:160px;display:block;margin:auto;max-height:150px;}

.p_img{display:table-cell;width: 166px;height:150px;vertical-align:middle;}

.p_price{color:#e00;font-weight:bold;font-size:26px;display:block;position:absolute;top:150px;text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;}

.img_price_full{color:#e00;font-weight:bold;font-size:30px;}

.p_old_price{text-decoration:line-through;display:block;color:#777;float:left;margin-top:5px; font-size: 16px;}

.p_name{line-height: 18px;height: 34px;overflow:hidden;display:block;margin-bottom:5px;font-weight: 400;text-align:center;color: #333;font-size: 12px;}

.p_summary{line-height:16px;height:32px;overflow:hidden;margin-bottom:5px;}

.p_btn_buy{display:inline-block;background:#222;line-height:25px;padding:0 10px;color:white;margin:5px 0;}

#footer a{text-decoration:none;}

#footer .box_footer{width: 18%;float: left;margin-top: 5px;margin: 0 0.5%;}

#footer{margin-top:20px;background:#c2050b;overflow:hidden;padding:10px 0 10px 0;}

#footer_bottom{text-align:center;background:#000;color:rgb(236, 236, 236);padding:10px 0;}

#copyright{text-align: center;}

#design_by{float:right;}

.col_news{padding:0;list-style:none;margin:0;}

.col_news a{text-decoration:none;}

.col_news li{float:left;width:100%;border-top:dotted 1px #ccc;}

.col_news li img{width:75px;float:left;margin-right:5px;}

.col_news li a{display:block;padding:10px 5px;}

.col_news li:first-child{border:none;}

.col_pro{padding:0;list-style:none;margin:0;}

.col_pro a{text-decoration:none;}

.col_pro li{float:left;width:100%;border-top:dotted 1px #ccc;}

.col_pro li img{width:75px;float:left;margin-right:5px;}

.col_pro li a{display:block;padding:10px 5px;overflow:hidden;}

.col_pro li:first-child{border:none;}

.col_pro li .float_l{width:80px;}

.col_pro li .float_r{width:128px;}

#news_letter a{display:inline-block;text-decoration:none;cursor:pointer;color:white;line-height:25px;float:right;font-size:0;width:34px;height:34px;}

#news_letter input{height:21px;width:181px;float:left;padding-left:5px;outline:none;border:none;margin-left:5px;margin-top:6px;background:none;}

#news_letter{width:232px;height:36px;background-position:-271px -101px;margin-top:10px;}

.paging{margin:6px 0 6px 0;float:right;margin-top:8px;}

.paging .pagination {margin: 0;list-style: none;}

.paging li {float:left;line-height:10px;margin-left:5px;border:solid 1px #BBBBBB;text-decoration:none;color: #333;}

.paging li a, .paging li span{color:#333; text-decoration: none;display:block;padding:5px 8px;}

.paging li.active span,.paging li:hover a{background:#222;color:white;}

#filter{padding:10px;}

#filter .title_filter{font-weight:bold;color:red;font-size:13px;}

#filter ul{padding-left:20px;}

#filter a{text-decoration:none;}

#filter ul li{line-height:19px;}

#aboutus{border:dotted 1px #aaa;margin-bottom:10px;}

#news_home{border:dotted 1px #aaa;margin-bottom:10px;}

#brand_list li img{max-height: 38px;max-width: 100px;}

#brand_list li{float:left;margin: 5px 10px;height:40px;border: solid 1px #e6e3e3;}

#brand_list li a{display:table-cell;height: 38px;width: 100px;vertical-align:middle;text-align: center;}

#brand_list ul{}

#location a{text-decoration:none;line-height:35px;float:left;color: #333;}

#location span{font-size:14px;}

#img_detail{width:350px;float:left;margin-right:29px;background:white;}

#img_detail p{margin:3px 0;}

#img_large{width:330px;box-shadow:0 0 6px #ACACAC;padding:10px;/* height:280px; *//* display:table-cell; */vertical-align:middle;text-align:center;}

#location span{float:left;line-height:35px;padding:0 5px;}

.top_news_on_page{overflow:hidden;}

#img_large img{max-width:330px;max-height:275px;}

#img_thumb img{max-width:80px;max-height:80px;display:block;margin:auto;}

#img_thumb{margin-top:10px;}

#img_thumb li{text-decoration:none;float:left;margin-left:5px;width:81px;border:solid 1px #ccc;height:80px;}

#overview p{margin:7px 0;}

#price_detail p{margin:5px 0;}

#old_price_detail{font-size:14px;text-decoration:line-through;}

#offer_detail{color:#d00;margin:5px 0;border:solid 1px #d00;padding:10px 10px 10px 77px;background:url(../images/gift.png) left top no-repeat #FFFDCD;}

#overview{width:613px;float:right;}

#summary_detail{line-height:25px;}

#info_detail{border:dotted 1px #aaa;margin-top:20px;}

.bg.icon_cskh{width:16px;height:14px;background-position:-375px -38px;float:left;margin-top:7px;margin-right:5px;}

.bg.icon_yahoo{background-position:-466px -36px;width:16px;height:16px;float:left;margin-top:6px;margin-right:5px;}

.bg.icon_xdch{width:16px;height:15px;background-position:-286px -36px;float:left;margin-top:5px;margin-right:5px;}

.bg.icon_tbg{width:16px;height:15px;background-position:-316px -35px;float:left;margin-top:5px;margin-right:3px;}

.bg.icon_news{width:21px;height:17px;background-position:-434px -35px;float:left;margin-top:4px;margin-right:5px;}

.bg.icon_diendan{width:16px;height:15px;background-position:-407px -39px;float:left;margin-top:6px;margin-right:5px;}

#banner_header img{max-width: 979px;margin-left: 21px;height: 105px;}

#banner_header{float:left;}

.bg.icon_user{width:14px;height:14px;background-position:-491px -36px;float:left;margin-right:5px;}

#login_header a{text-decoration:none;color: #333;}

.bg.icon_drop{width:9px;height:5px;background-position:-349px -44px;vertical-align:middle;}

.bg.icon_cart{width:113px;height:22px;background-position:0 -52px;}

#cart{margin-top:7px;float:right;position:relative;}

#count_shopping_cart_store{position:absolute;right:3px;top:3px;width:20px;text-align:center;}

#nav_vertical > ul{position:absolute;background:#d10307;width:210px;top:44px;left:0;height:auto;z-index:99;}

#nav_vertical ul li a{color:white;text-transform:uppercase;font-weight:bold;}

#nav_vertical ul li{border-bottom:solid 1px #F9EF41;background-position: 7px center; background-repeat: no-repeat; background-color:#D0C50C;padding-left:35px;line-height:32px;height:34px;}

#nav_vertical ul li:last-child{border-bottom:none;}

.bg.icon_km_header{width:124px;height:25px;background-position:-4px -109px;margin-left:15px;margin-top:11px;}

.bg.icon_deal_header{width:64px;height:24px;background-position:-148px -109px;margin-top:11px;}

li.line_space_nav{height:43px;width:0px;border-left:solid 1px #A80D0D;border-right:solid 1px #E41111;}

.bg.title_nav_verticle{width:210px;height:45px;background-position:0 0;}

.btn_carousel2{background:url(../images/btn_carousel2.png) no-repeat;width:30px;height:32px;cursor:pointer;z-index:99;}

#thumbs{width:980px;float:right;padding:0;margin:0;list-style:none;position:relative;height:60px;overflow:hidden;}

.icon_prev2{background-position:1px 1px;position:absolute;top:15px;left:3px;}

.icon_next2{background-position:right top;position:absolute;top:15px;right:3px;}

#thumbs img{width:192px;height:56px;float:left;}

#thumbs img.active,#thumbs span.active{border:solid 2px #e00;}

#brand_list{height:50px;border:solid 1px #ccc;overflow:hidden;position:relative;padding:0 35px;}

.btn_carousel1{position:absolute;width:37px;height:37px;background-position:-129px -48px;top:6px;}

.btn_carousel1.prev{left:5px;}

.btn_carousel1.next{right:5px;background-position:-170px -48px;}

#banner_cs_home a{text-decoration:none;display:block;float:left;}

#price_detail{padding:10px 0;border-top:solid 1px #ccc;margin-top:5px;}

#banner_cs_home a img{width:400px;height:90px;}

#box_pro_special_home .title_tab{height:35px;line-height:35px;background:url(../images/bg_gradient_black.png) repeat-x;margin-bottom:6px;padding:0 6px;border-radius:3px 3px 0 0;}

#box_pro_special_home .title_tab a.a_tab{color:white;text-transform:uppercase;text-decoration:none;font-size:18px;padding:0 18px;line-height:35px;display:block;float:left;}

#box_pro_special_home .title_tab a.viewall{float:right;color:white;text-decoration:none;}

#box_pro_special_home{width:940px;float:left;margin-bottom:15px;position:relative;}

#box_pro_special_home a.viewall{position:absolute;right:8px;top:9px;z-index:99;color:white;}

#box_pro_special_home a.viewall:hover{color:#CC0F0F !important;}

#hot_news_home{width:250px;float:right;}

.h_title{margin:0;font-size:18px;text-transform:uppercase;font-family:Tahoma;}

.bg_gradient_bottom_title{height:9px;background:url(../images/bg_gradient_bottom.png) left 0px repeat-x;}

#hot_news_home .content_box{border:solid 1px #ccc;padding-bottom:10px;height:267px;}

#hot_news_home .top_news{padding:10px;padding-top:3px;overflow:hidden;}

#hot_news_home .top_news img{width:90px;float:left;margin-right:7px;}

#hot_news_home .top_news a{text-decoration:none;line-height:16px;font-size:12px;color: #333;}

#hot_news_home ul{padding:0 10px;list-style:none;margin:0;clear:both;}

#hot_news_home ul li a{text-decoration:none;font-size: 13px;color: #333;}

#hot_news_home ul li{padding:3px 0;}

.price-number-small-0, .price-number-small-1, .price-number-small-2, .price-number-small-3, .price-number-small-4, .price-number-small-5, .price-number-small-6, .price-number-small-7, .price-number-small-8, .price-number-small-9, .price-number-small-dot, .price-number-small-dash{float:left;height:42px;width:22px;}

.price-number-small-0{background:url("../images/0x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-1{width:16px;background:url("../images/1x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-2{width:23px;background:url("../images/2x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-3{background:url("../images/3x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-4{background:url("../images/4x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-5{background:url("../images/5x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-6{background:url("../images/6x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-7{width:20px;background:url("../images/7x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-8{background:url("../images/8x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-9{width:23px;background:url("../images/9x42.png") no-repeat scroll center transparent;background-size:auto 35px;}

.price-number-small-dot{width:7px;background:url("../images/x42.png") no-repeat scroll left 12px transparent;background-size:7px auto;}

.price-number-small-dash{background:url("../images/.-x42.png") no-repeat scroll left bottom transparent;width:20px;}

.price_off{background:#C70404;color:white;width:35px;line-height:19px;float:left;text-align:center;border-radius:2px;font-size:11px;font-weight:bold;margin-left:5px;margin-top:7px;}

.icon_in_stock{width:77px;height:20px;background-position:-365px -65px;}

.p_quantity{float:left;}

.p_compare{float:right;margin-right:-5px;}

.container_old_price{line-height:23px;margin-top:4px;overflow:hidden;height:30px;}



.bg.iconSaleOff{width:51px;height:49px;background-position:-220px -38px;position:absolute;right:5px;top:125px;}

.bg.iconHot{width:34px;height:23px;background-position:-528px -66px;position:absolute;left:10px;top:32px;}

.bg.iconNew{background-position:-485px -66px;width:34px;height:23px;position:absolute;right:10px;top:32px;}

.icon_out_stock{width:77px;height:20px;background-position:-285px -65px;}

.a_tab.current{background-image:url(../images/bg_gradient_red.png);}

#banner_cs_home{overflow:hidden;margin:6px 0;}

.banner_top_pro img{height:70px;}

.banner_top_pro a{display:block;float:left;}

.title_box_center .h_title{background:url(../images/bg_title_pro.png) right 0;padding-right:50px;border-radius:3px 0 0 0;float:left;padding-left:10px;line-height:34px;color:white;height:38px;}

.title_box_center .sub_cat_title a:first-child{border:none;}

.title_box_center .sub_cat_title .viewall{float:right;}

.title_box_center .viewall{float:right;text-decoration:none;color:#0B3472;line-height:43px; font-style: italic; margin-right: 5px; font-size:11px;}

.title_box_center .sub_cat_title a:hover{text-decoration:underline;color:#e00;}

.banner_right_pro{width:250px;float:right;}

#likebox_bottom{float:left;border:solid 1px #ccc;width: 500px;height: 329px;}

#support_center{width: 680px;float:right;height: 328px;background: url(../images/bg_support_box_bottom.jpg) -1px top no-repeat;border: solid 1px #ddd;}

#support_center ul{padding-left:190px;list-style:none;padding-top:87px;line-height:20px;}

#support_center ul li{margin:8px 0;font-size:13px;}

#footer .box_footer h3{color:#feee02;}

#footer .box_footer li a {color:#333; font-size: 13px;}

#footer .box_footer li a:hover {text-decoration: underline;}

#footer .box_footer ul{list-style:none; margin:8px 0;padding: 0;}

#footer .box_footer ul li{line-height:22px;padding: 5px; padding-left: 10px; background: url('../images/arrow-news-icon.png') left center no-repeat;}

#footer .box_footer h3{margin: 0; background: #fff;color: red;padding: 5px;border-radius: 6px;}

#footer .box_footer.cam_ket {
	background: #fff;
    border-radius: 10px;
}

#footer .box_footer.cam_ket h3 {
    background: none;
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: -5px;
}

#footer .box_footer.cam_ket ul li {
    color: blue;
    padding-left: 55px;
}

#footer .box_footer.cam_ket ul li.c1 {
	background: url('../images/icon-commitment-1.png') 4px center no-repeat;
}

#footer .box_footer.cam_ket ul li.c2 {
	background: url('../images/icon-commitment-2.png') 4px center no-repeat;
}

#footer .box_footer.cam_ket ul li.c3 {
	background: url('../images/icon-commitment-3.png') 4px center no-repeat;
}

.icon_thanhtoanantoan{width:206px;height:68px;background-position:-81px -146px;margin:13px 0;}

#footer_bottom a{color:yellow;text-decoration:none;}

.icon_home_footer{width:59px;height:62px;background-position:0 -150px;}

#footer_bottom table{margin:auto;width: 100%;}

#footer_bottom b{text-transform:uppercase;}

#footer_bottom{font-size:13px;line-height:20px;}

#footer_bottom p{margin:5px 0;}

#tag_footer{padding:10px 0;border-bottom:solid 1px #ccc;}

#tag_footer a{color:#666;text-decoration:none;padding:0 7px;border-left:solid 1px #ccc;}

#tag_footer a:first-child{border:none;}

#design_by a{text-decoration:None;}

#content_top_right .video{width:250px;height:180px;margin-bottom:5px;}

#ul_cat{float:left;color:#888;position:relative;margin-right:15px;line-height:25px;}

#ul_cat ul li, #ul_cat ul li:hover{list-style:none;line-height:24px;padding:0px 10px;margin:0;float:left !important;display:block;width:180px;cursor:pointer;height:24px; color: #333 !important; border-radius: 0;
    border-bottom: 1px solid #F5F5F5;
    border-left: none;}

#ul_cat ul li:hover{color:#000 !important}

#ul_cat ul{margin:0;padding:7px 0;border:solid 2px #CC0404;position:absolute;background:white;top:30px;display:none;left:1px;width:200px;z-index:999;border-radius:3px;}

#ul_cat span{line-height:33px;padding:0 10px;cursor:pointer;padding-right:2px;}

.hover_content_pro{position:absolute;z-index:999;background:white;border:solid 1px #333;width:377px;box-shadow:0 0 7px #333;display:none;padding-bottom:10px;}

.hover_name{display:block;float:left;width:287px;padding:5px 10px;font-size:15px;overflow:hidden;line-height:18px;background:#d00;color:white;font-weight:bold;padding-right:80px;}

.hover_brand{float:right;padding-right:5px;padding-top:5px;position:absolute;right:0;}

.hover_brand img{max-width:75px;max-height:32px;}

.hori_line{clear:both;height:0px;border-top:solid 1px #ccc;margin:5px 0;}

.hover_content_pro table td{padding:2px 0px;}

.hover_content_pro table{padding:0 10px;margin-top:8px;}

.hover_offer{padding:0 10px;line-height:17px;}

.hover_offer b{color:#e00;font-size:13px;}

.muangay{width:118px;height:27px;background-position:-213px 0;}

.chovaogio{width:118px;height:27px;background-position:-336px 0;}

.muatragop{width:118px;height:27px;background-position:-460px 0;}

.hover_buy{padding:0 8px;padding-top:10px;}

.img_price_full_small{margin-top:-20px;float:left;}

.product_list ul li:hover{border-color:#333;box-shadow:0 0 7px #333;}

.product_list ul li:hover .hover_content_pro{display:block;}

.sub_nav{position:absolute;left: -2209px;min-height: 383px;width: 731px;top:0px;background:white;z-index:99;border:solid 1px #d00;overflow:hidden;}

.sub_nav .box_cate{padding: 9px;float:left;line-height: 20px;width: 163px !important;}

.sub_nav .box_cate .sub1{font-weight:bold;color:#d00;font-size:13px;width: 100%;line-height: 20px;}

.bg.icon_home{width:19px;height:18px;background-position:-457px -63px;}

#location{margin-top:-10px;overflow:hidden;clear:both;}

#banner_pro_list #bigPic img{width:1200px;height:200px;}

#banner_pro_list{position:relative;margin-bottom:8px;overflow:hidden;height:220px;}

#banner_pro_list #thumbs{position:absolute;z-index:99;bottom:5px;right:5px;width:auto;}

#banner_pro_list #thumbs li img{width:53px;height:21px;}

.top_area_list_page{height:37px;background:#eee;padding:0 8px;margin-bottom:8px;}

.top_area_list_page h1{font-size:17px;text-transform:uppercase;margin:0;line-height:37px;float:left;margin-right:21px;}

.compare_area a img{width:20px;height:20px;background:white;padding:1px;border:solid 1px #ccc;}

.compare_area{float:left;margin-top:6px;}

.btn_compare.bg{width:78px;height:27px;background-position:-320px -196px;border:none;margin-left:10px;}

.compare_area a{float:left;margin-right:4px;position:relative;}

.icon_del_compare{width:18px;height:18px;position:absolute;background-position:-512px -34px;z-index:9;right:-7px;bottom:0px;}

.sort_style > span{line-height:37px;float:left;}

.sort_style{float:left;margin-left:20px;}

.list_style{width:24px;height:19px;background-position:-382px -146px;}

.list_style.active{width:24px;height:19px;background-position:-382px -169px;}

.grid_style{width:24px;height:19px;background-position:-411px -146px;}

.grid_style.active{width:24px;height:19px;background-position:-411px -169px;}

.sort_style a{margin-left:3px;margin-top:9px;float:left;}

.sort_pro{float:left;margin-left:20px;margin-top:7px;position:relative;}

.sort_pro > span{border:solid 1px #ccc;display:block;height:21px;background:white;padding:0 10px;line-height:21px;}

.sort_pro ul{margin:0;list-style:none;background:white;border:solid 1px #ccc;padding:3px 8px;display:none;width:119px;position:absolute;z-index:99;line-height:20px;top:22px;left:0;}

.sort_pro ul li{padding:2px 0;}

.sort_pro ul li a{text-decoration:none;color: #333;}

.sort_pro:hover ul{display:block;}

.title_box_right img{float:left;margin-top:6px;max-width:26px;margin-right:5px;}

.title_box_right h2{text-transform:uppercase;font-weight:normal;font-size:13px;margin:0;}

.box_right .content_box{border:solid 1px #ccc;border-radius:0 0 3px 3px;}

.box_right .content_box li a{text-decoration:none;font-weight:bold;font-size:13px;color: #333;}

.box_right .content_box li{padding:7px 0;border-bottom:dashed 1px #ddd;}

.box_right .content_box ul{margin-top:-5px;padding:0 10px;}

.box_right .content_box li:last-child{border:none;}

.title_box_right.black{background-image:url(../images/bg_gradient_black.png) !important;}

.filter li input{vertical-align:middle;}

.filter li{border:none !important;padding:6px 0 !important;}

.filter li a{font-size:12px !important;}

.filter h3{font-size:14px;padding-left:10px;margin:8px 0;}

.filter li a{font-weight:normal !important;}

#content_news_page{width:975px;float:right;}

.content_box_left.list_cat_news{background:#b6070f;border:none;}

.content_box_left.list_cat_news ul li a{color:white;text-decoration:none;font-weight:bold;line-height:32px;}

.content_box_left.list_cat_news ul li{padding:0 15px;border-top:solid 1px #971C1C;}

.content_box_left{border-radius:0 0 3px 3px;border:solid 1px #aaa;}

.top_news_on_page .first{float:left;width:579px;display:block;position:relative;background:url(../images/space_news_home.jpg) right center no-repeat;}

.top_news_on_page .first img{width:240px;border:solid 1px #ccc;padding:3px;float:left;margin-right:15px;}

.top_news_on_page .container{bottom:4px;width:524px;color:#333;text-decoration:none;display:block;}

.top_news_on_page .container .name{font-size:15px;font-weight:bold;display:block;margin-bottom:5px;text-decoration:none;color: #333;}

.top_news_on_page .container .view{font-size:11px;display:block;margin-bottom:5px;}

.content_box_left.list_hot_news li a{text-decoration:none;line-height:16px;font-size:11px;color: #333;}

.content_box_left.list_hot_news li img{float:left;margin-right:6px;}

.content_box_left.list_hot_news li{overflow:hidden;border-top:dotted 1px #ccc;padding:8px;}

.content_box_left.list_hot_news li:first-child{border:none;}

.top_news_on_page ul{width:380px;float:right;}

.top_news_on_page ul li img{float:left;margin-right:8px;max-height:70px;}

.top_news_on_page ul li{overflow:hidden;padding:10px 0;border-bottom:solid 1px #ddd;}

.top_news_on_page ul li .name{font-size:13px;text-decoration:none;display:block;margin-bottom:5px;font-weight:bold;color: #333;}

.top_news_on_page ul li .summary{line-height:18px;}

.top_news_on_page ul li .view{display:block;color:#888;margin-bottom:5px;}

.top_news_on_page ul li:last-child{border:none;}

.top_news_on_page ul li:first-child{padding-top:0;}

#list_news li img{float:left;margin-right:10px;}

#list_news li{overflow:hidden;padding:13px 0;border-top:solid 1px #ddd;}

#list_news li:first-child{border:none}

#list_news li .name{font-size:15px;text-decoration:none;display:block;margin-bottom:5px;}

#list_news li .view{color:#666;}

#list_news li .summary{line-height:21px;}

#list_news li .summary a{color:#1B4F9C;font-size:11px;padding-left:5px;}

#list_news li .summary a:hover{text-decoration:none;}

.content_box_left.list_cat_news ul li:hover{background:#E44;}

#detail_news h1{margin-top:0;font-size:18px;margin-bottom:5px;}

#detail_news .time{color:#666;display:block;margin-bottom:12px;}

#share{margin-top:20px;padding:8px 10px;background:#eee;}

.icon_send_mail.float_r{width:106px;height:15px;background-position:-490px -200px;margin-top:1px;}

.icon_print.float_r{width:62px;height:16px;background-position:-407px -199px;margin-right:26px;}

#tag_news{padding:8px 0;}

#tag_news b{font-weight:bold;font-size:14px;}

#tag_news a{text-decoration:none;padding:3px 5px;background:#eee;}

#other_news .box_other_news{float:left;width:480px;}

#other_news .box_other_news h2{text-transform:uppercase;font-weight:normal;color:#d00;margin-bottom:5px;}

#other_news a{text-decoration:none;color: #333;}

#other_news li{padding:4px 0;}

#comment_news{margin-top:20px;}

#comment_news .title_box{font-size:18px;text-transform:uppercase;border-bottom:solid 2px;padding-bottom:3px;}

.cufon{font-size:19px !important;}

.cf{display:none;}

.hOnline{right:-300px;top: 29px;position:absolute;z-index: 9999;left:-63px;display:none;width:902px;}

.hOnline-order{background-color:#f9fafc;color:#000;text-align:left;border:solid 1px #0e74bc;font-size:12px;}

.online-left{float:left;width:50%;}

.online-right{float:right;width:48%;}

.online-header{background-color:#0e74bc;color:#fff;font-size:14px;line-height:18px;padding:10px 0;text-align:center;}

.online-title{border-bottom:1px solid #dee2e5;color:#f32837;font-size:14px;margin-right:25px;padding:5px 0 0; font-weight:bold}

.online-content{line-height:20px;padding-bottom:10px;}

.online-content .cssLeft{float:left;padding-top:10px;width:30%;}

.online-content .cssRight{float:right;padding-top:10px;width:66%;}

.online-content a{color:#2d94df !important;text-decoration:none;}

.online-content a:hover{text-decoration:underline;}

.icon_tel_support{width:16px;height:16px;background-position:-493px -238px;float:left;margin-right:5px;margin-top:1px;}

.icon_email_support{width:15px;height:10px;background-position:-492px -201px;float:left;margin-right:5px;margin-top:5px;}

.online-footer{background-color:#0e74bc;color:#fff;font-size:13px;padding:2px 10px;text-align:center;text-transform:none;}

.online-footer a{color:#fff;font-weight:bold;text-decoration:underline;}

.online-footer a:hover{text-decoration:none;}

#support_top:hover .hOnline{display:block;}

.online-footer a{font-size:13px !important;}

#top li > span,#top li > a{text-transform:uppercase;}

#list_hot_news_top ul{position:absolute;z-index:99;background:white;width:250px;border:solid 1px #aaa;top:30px;border-top:none;display:none;}

#list_hot_news_top ul li img{float:left;width:75px;margin-right:6px;}

#list_hot_news_top ul li a{color:#333;text-transform:none;font-weight:bold;white-space: normal;}

#list_hot_news_top ul li{line-height:16px;overflow:hidden;padding:7px 10px;border-bottom:dashed 1px #ccc;}

#list_hot_news_top ul li a:hover{color:#e00;}

#list_hot_news_top ul li:last-child{border:none;}

#list_hot_news_top:hover ul{display:block;}

#pro_detail_page{width:992px;float:left;}

#overview h1{margin-top:0;margin-bottom:5px;font-size:19px;font-family: Roboto Condensed;}

.table_div .cell{display:table-cell;vertical-align:top;}

.table_div table td{vertical-align:top;padding:3px 0;line-height:18px;}

#overview b{color:#000;}

.title_offer{width:486px;height:30px;background-position:-9px -426px;}

.bg.charge{width:172px;height:52px;background-position:-7px -307px;}

.btn_compare_link{width:53px;height:48px;background-position:-189px -312px;}

.btn_image_link{background-position:-249px -311px;width:53px;height:47px;}

.btn_video_link{width:53px;height:46px;background-position:-307px -311px;}

ul.ul.qick_link li{float:left;margin-left:6px;}

ul.ul.qick_link{margin-top:5px;}

i.bg.icon_fav{width:14px;height:12px;background-position:-521px -224px;float:left;margin-top:2px;margin-right:3px;}

#overview a{text-decoration:none;color: #333;}

#shipping_policy{border:solid 1px #ccc;overflow:hidden;}

#shipping_policy a{text-decoration:none;display:block;float:left;width:45%;padding:8px;}

.bg.icon_mhtx{width:38px;height:34px;background-position:-370px -322px;float:left;}

.icon_ghtq{width:38px;height:34px;background-position:-427px -322px;float:left;}

#shipping_policy i{margin-right:6px;}

#shipping_policy a span{text-transform:uppercase;font-weight:bold;line-height:21px;}

#title_tab_scroll_pro{height:32px;background:url(../images/bg_gradient_grey.jpg) left bottom repeat-x #A3A2A2;border-bottom:solid 3px #000;padding-left:8px;width:605px;float:right;}

#title_tab_scroll_pro a{text-decoration:none;color:white;font-weight:bold;line-height:32px;padding:0 10px;display:block;float:left;font-size:12px;white-space: nowrap;}

#title_tab_scroll_pro a.current{background:#000;}

#right_pro_page{width:200px;float:right;}

.img_price_full{display:block;margin:auto;}

.img_price_full .price-number-small-dot{width:11px;background-position:center bottom;}

.img_price_full span{background-size:auto !important}

a.bg.btn_buy_detail{width:157px;height:47px;background-position:0px -372px;}

a.bg.btn_addtocart_detail{width:156px;height:47px;background-position:-159px -372px;}

#qick_pay_install{border:solid 1px #ccc;padding:10px;float:right;width:591px;}

#qick_pay_install .title_tratruoc{font-size:17px;margin:0;margin-bottom:5px;}

#qick_pay_install .title_tratruoc span{font-weight:bold;color:#d00;}

#qick_pay_install td{padding:5px 0;}

.btn_orange,.btn_red,.btn_cyan{display:block;background:url(../images/bg_button_orange.png) repeat-x;height:25px;padding:0 20px;line-height: 23px;color:white;text-decoration:none;font-weight:bold;font-size: 13px;border-radius:3px;border:solid 1px #D68731;text-shadow:1px 1px 2px #666;}

.btn_orange:hover,.btn_red:hover,.btn_cyan:hover{color:white;box-shadow:0px 0px 1px #000}

.btn_red{background-image:url(../images/bg_button_red.png);border-color:#a00;}

.btn_cyan{background-image:url(../images/bg_button_cyan.png);border-color:#148AAF;}

.title_box_right_detail{border-bottom:solid 2px #ccc;height:27px;margin-bottom:8px;}

.title_box_right_detail.cufon span{border-bottom:solid 2px #000;font-size:21px !important;padding-bottom:3px;}

.content_box_right_detail.product_list li{width:198px;margin-left:0;}

.content_box_right_detail.product_list li .p_img img{max-width:180px;}

.content_scroll_tab{padding:10px 0;}

.content_scroll_tab .cufon{font-size:21px !important;margin-bottom:2px;}

a.btn_carousel2{width:23px;height:14px;background-position:-520px -243px;position:absolute;top:8px;}

a.btn_carousel2.next2{background-position:-547px -243px;right:0;}

.box_right_detail{position:relative;}

a.btn_carousel2.bg.prev2{right:27px;}

.bg_rating{height:15px;background:url(../images/bg_percent_rate.png) repeat-x;width:125px;border:solid 1px #ccc;}

#rating_statistic table td{color:#0167C5;}

.bg_top_rating{display:block;background:url(../images/bg_percent_top_rate.png) repeat-x;height:100%}

#rating_statistic table{float:left;}

#rating_statistic h4{display:block;text-transform:uppercase;text-align:center;font-size:15px;font-weight:normal;margin-top:37px;float:left;width:115px;}

#select_rate{width:180px;border:solid 1px #ddd;padding:10px;overflow:hidden;float:right;}

#select_rate p{font-size:11px;margin:3px 0;}

#select_rate h4{margin:0 0 4px 0;font-size:17px;}

.rating{display:block;width:82px;height:14px;background:url(../images/bg_rate.png) no-repeat;}

#select_rate ul li input{float:left;}

#select_rate li{overflow:hidden;margin:8px 0;}

#select_rate li .rating{margin-left:20px;}

.rating.rate5{background-position:-0 -89px;}

.rating.rate4{background-position:-0 -71px;}

.rating.rate3{background-position:-0 -53px;}

.rating.rate2{background-position:-0 -35px;}

.rating.rate1{background-position:-0 -16px;}

.content_scroll_tab .title_box_scroll{border-bottom:solid 2px #111;margin-bottom:10px;}

#list_deal li{width:285px;height: 387px;border:solid 1px #ccc;position:relative;float:left;margin-left:17px;margin-bottom:10px;}

#list_deal .p_img{height:250px;width:295px;text-align:center;}

#list_deal .p_img img{max-width:280px;max-height:245px;}

#list_deal li .more_info{background:#eee;border-top:solid 3px #ccc;position:relative;height: 75px;padding-left:66px;padding-right:5px;}

.deal_price_off{position:absolute;width:64px;height:52px;background-position:-538px -389px;color:white;font-weight:bold;font-size:20px;padding-left:5px;top:-11px;left:-2px;padding-top:35px;}

#list_deal li .more_info .p_name{text-decoration:none;font-weight:normal;font-size:15px;text-align:left;line-height:22px;height:43px;margin-top:5px;}

#list_deal li .p_price{top:200px;left:10px;}

#list_deal li .p_old_price{margin-bottom:12px;margin-left:10px;font-size:13px;color:#aaa;float:left;}

#list_deal li .more_info span{font-size:14px;color:#555;margin-top:3px;}

#list_deal li .time_left{float:right;margin-top:7px;font-weight:bold;font-size:15px;color:#d00;}

#list_deal h1{margin-top:0}

#list_deal .iconSaleOff{top:10px;}

.percent_off{background:#d00;color:white;padding:2px 5px;border-radius:2px;}

.top_newspage{width:352px;height:300px;display:block;border:solid 1px #ccc;position:relative;margin-left:9px;float:left;}

.top_newspage img{width:100%;height:100%;}

.top_newspage:first-child{margin-left:0;}

.top_newspage span{position:absolute;bottom:0;padding:10px;background:rgba(0,0,0,.7);color:white;font-size:15px;line-height:22px;height:39px;overflow:hidden;left:0;width:333px;}

.top_news_on_page .container .summary{line-height:17px;}



#title_tab_scroll_pro.fixed{position:fixed;top:54px;width: 605px;z-index:99;margin-left:0;}

.title_box_cart{background:#eee;color:#333;font-size:15px;font-weight:bold;padding-left:7px;line-height:30px;border:solid 1px #bbb;margin-bottom:6px;}

.table-shopping-cart{border:1px solid #ccc;border-collapse:collapse;width:100%;line-height:19px;font-weight:bold;}

.table-shopping-cart td{padding:5px 10px;text-align:center;border:1px solid #ccc;}

.shopping-cart-first-row{background:#fafafa;color:#000;font-weight:700}

.shopping-cart-stt-col{width:20px}

.shopping-cart-price-col{width:110px}

.shopping-cart-quantity-col{width:60px}

.shopping-cart-sum-col{width:120px}

.shopping-cart-del-col{width:30px}

td.cart_img{vertical-align:top;border-right:none;}

.cart_img img{max-width:60px;max-height:70px;margin:0 10px 0 0;}

.tbl_combo{border-top:1px solid #ccc;border-collapse:collapse;margin:10px 0 0;width:100%;}

.tbl_combo td{text-align:center;}

.tbl_combo .cart_img img{max-width:40px;max-height:50px;margin:0 10px 0 0;}

td.td_combo{padding:0;}

.c1_col{width:100%;position:relative;}

.c1_col_l{width:240px;float:left;background:url(../images/i_promo.png) no-repeat center top;height:65px;padding:20px 0 0 70px;text-align:left;}

.c1_col_r{width:40%;float:right;text-align:left;padding:10px 0;line-height:21px;}

.btn_c1{position:relative;top:8px;}

td.txt_left{text-align:left;border-left:none;padding:5px 0 0;}

.c3_col_1{width:26%;float:left;margin:0 30px 0 0;line-height:22px;}

.c3_col_1 .txt1{padding-bottom:5px;}

.c3_col_1 [type=text]{width:100%;}

.c3_box{padding-bottom:20px;}

.t_line1{width:8%;float:left;}

.t_line1 input{position:relative;top:5px;}

.t_line2{width:90%;float:right;}

.c3_col_2{width:34%;float:right;margin:0;}

.tbl_cart3{line-height:17px;}

.tbl_cart3 td{padding:5px 10px;border-bottom:1px solid #ccc;}

#tbl_list_cart td{border:solid 1px #ccc;}

.c3_col_1 input[type="text"]{}

.c3_col_1 textarea{}

.tbl_cart3 table td{border:solid 1px #CCC;}

#menu_in_cart{height:35px;background:url(../images/bg_gradient_white.png);border:solid 1px #ddd;margin-bottom:20px;}

#menu_in_cart li{float:left;line-height:35px;}

#menu_in_cart li a{text-decoration:none;font-weight:bold;border-right:solid 1px #ccc;padding:0 15px;color: #333;}

.icon_large_cart{width:83px;height:68px;background-position:-522px -126px;float:left;margin-top:-8px;}

#guide_cart h1{color:#e00;font-size:18px;margin:5px;margin-top:10px;}

#guide_cart p{margin:5px 0;}

#guide_cart p b{color:#e00;}

#tbl_list_cart td p{margin:4px 0;}

.btn_cart{margin-left:5px;}

.c3_col_1 a{text-decoration:none;}

.c3_col_1 input[type="text"]{width:309px;height:21px;border:solid 1px #ccc;}

.c3_col_1 textarea{width:306px !important;border:solid 1px #ccc;}

#tbl_list_style_pro{width:100%;}

 #tbl_list_style_pro .p_compare{float:left;margin-top:10px;}

#tbl_list_style_pro td:nth-child(1){width:166px;padding-right:10px;}

#tbl_list_style_pro td{vertical-align:top;border-bottom:solid 1px #DADADA;text-align:left;}

#tbl_list_style_pro .p_name{text-align:left;text-decoration:none;font-weight:bold;font-size:15px;margin-top:8px;height:auto;}

#tbl_list_style_pro td:nth-child(3){width:150px;padding-left:20px;}

#tbl_list_style_pro tr{background:#fff;}

#top_news_on_page .first{float:left;width:450px;position:relative;}

#top_news_on_page .first img{width:450px;border:solid 1px #ccc;}

#top_news_on_page .container{position:absolute;bottom:4px;width:432px;padding:10px;background:rgba(0,0,0,.8);color:white;}

#top_news_on_page .container .name{font-size:15px;font-weight:bold;display:block;margin-bottom:5px;}

#top_news_on_page .container .view{font-size:11px;}

#top_news_on_page ul{width:505px;float:right;}

#top_news_on_page ul li img{float:left;margin-right:8px;border:solid 1px #ccc;padding:3px;}

#top_news_on_page ul li{overflow:hidden;padding:10px 0;border-bottom:solid 1px #ddd;}

#top_news_on_page ul li .name{font-size:13px;text-decoration:none;display:block;margin-bottom:5px;font-weight:bold;color: #333;}

#top_news_on_page ul li .summary{line-height:18px;}

#top_news_on_page ul li .view{display:block;color:#888;margin-bottom:5px;}

#top_news_on_page ul li:last-child{border:none;}

#top_news_on_page ul li:first-child{padding-top:0;}

#price_deal_detail{padding:0 15px;padding-bottom:10px;font-size:15px;position:relative;overflow: hidden;}

#price_deal_detail p{margin:10px 0;}

#price_deal_detail .deal_heading img{margin-left:-15px;margin-bottom:8px;}

#time_left span{display:block;line-height:33px;font-size:18px;text-transform:uppercase;color:#d00;}

#time_left #count_down{font-size:22px;}

#time_left #count_down{text-transform:lowercase;}

#time_left{width:245px;border:dashed 2px #d00;padding:0 10px;border-radius:3px;margin-top: 15px;float: right;}

#time_left #count_down{font-weight:bold;font-size:18px;color:#464646;}

#compare_area_home{position:fixed;bottom:0;left:0;background:white;border:solid 1px #1A1A1A;display:none;z-index: 99999999999;}

#compare_area_home span{display:block;font-size:15px;background:#d00;line-height:25px;padding:0 10px;color:white;}

#compare_area_home .compare_area{padding:10px;}

.icon_inbaogia{width:83px;height:18px;background-position:-415px -280px;margin-top:5px;}

.icon_taiexcel{width:90px;height:18px;background-position:-511px -279px;}

.slider{float:left;width:613px;height:450px;position:relative;padding-bottom:26px;background:url(../images/bottom_shadow.png) no-repeat bottom center}

.sliderContent{width:613px;height:450px;clear:both;position:relative;overflow:hidden;text-align:center;margin:0 auto}

.sliderArrows a{display:block;text-indent:-9999px;outline:none;z-index:50;background-image:url(../images/prev_next.png);width:42px;height:42px;position:absolute;top:50%;margin-top:-34px;right:-35px}

.slider .prev{background-position:0 0;left:15px}

.slider .prev:hover{background-position:0 -44px}

.slider .next{right:15px;background-position:-44px 0}

.slider .next:hover{background-position:-44px -44px}

.sliderContent .item{position:absolute;width:600px;background:#fff;text-align:center;height:450px}

.sliderContent .item img{height:450px;max-width: 605px;}

.sliderBullets{position:absolute;bottom:0;left:50%;z-index:50;margin-left:-45px}

.sliderBullets a{display:block;float:left;text-indent:-9999px;outline:none;margin-left:5px;width:10px;height:11px;background:url(../images/bullets.png) no-repeat}

.sliderBullets .active{background-position:0 -11px}

.sliderContent a{outline:none}

#tragop_left{width:200px;float:left;}

#tragop_right{width:980px;float:right;}

#pay_install_product .cell{display:table-cell;vertical-align:top;}

#pay_install_product{float:left;width:444px;}

#pay_install_product img{width:135px;margin-right:15px;}

#pay_install_product .p_name{text-decoration:none;font-weight:normal;font-size:17px;text-align:left;line-height:18px;height:auto;}

#qick_pay_install select{width:147px;height:25px;border:solid 1px #ccc;}

#pay_install_product p{margin:6px 0;}

.tbl_select_install{width:400px;float:right;}

.tbl_select_install select{width:300px;height:30px;border:solid 1px #ccc;}

.tbl_select_install td{padding:4px 0;}

#tbl_list_bank{border-collapse:collapse;margin-top:20px;text-align:center;}

#tbl_list_bank td{border:solid 1px #ccc;padding:8px 5px;}

#tbl_list_bank a{text-decoration:none;}

.btn_common{background:#38A3DF;line-height:30px;text-align:center;color:white;border-radius:3px;box-shadow:1px 1px 1px #333;text-transform:uppercase;font-weight:bold;width:160px;display:block;margin:auto;}

#tbl_list_bank .col_title{font-weight:bold;text-align:left;}

#tbl_list_bank tr:nth-child(2n){background:#f6f6f6;}

.tbl_quytrinh{line-height:20px;}

.tbl_quytrinh img{height:125px;line-height:initial !important;}

.tbl_quytrinh td{vertical-align:top;}

.box_left2{border:solid 1px #ccc;border-radius:3px;}

.title_box_left2{line-height:33px;padding:0 10px;font-weight:bold;background:url('../images/bg_gradient_white.png') left bottom repeat-x;border-bottom:solid 1px #ccc;font-size:13px;text-transform:uppercase;}

.content_box_left2{padding:0 10px;padding-bottom:10px;}

.content_box_left2 p{margin:9px 0;}

.content_box_left2 a{text-decoration:none;font-weight:bold;color:#666;}

.content_box_left2 b{color:#d00;line-height:20px;font-size:13px;}

.content_box_left2 h3{margin:5px 0;color:#d00;margin-top:15px;}

.title_cs{text-transform:uppercase;margin-top:10px;font-weight:bold;border-bottom:solid 1px #ddd;padding-bottom:5px;}

#list_bv li{padding:6px 0;}

#list_bv li a{font-weight:normal;color:#222;}

#list_bv li span{font-size:14px;padding-right:3px;}

#list_bv li a:hover{color:#d00;}

#tbl_tragop .title{width:33%;background:#eee;color:#ff6b00;text-transform:uppercase;font-size:16px;}

#tbl_tragop .labelleft{float:left;width:49%;height:20px;text-align:left;}

#tbl_tragop .productcontainer .imgcontainer{float:left;width:120px;height:120px;overflow:hidden;padding:3px;text-align:center;}

#popup_order{display:none;width:900px;}

#popup_order td{padding:4px 0;}

#tab_cat_pro .title_tab a{display:block;float:left;height:30px;color:white;padding:0 18px;background:#0794DE;text-transform:uppercase;line-height:30px;margin-right:4px;border-bottom:none;text-decoration:none;}

#intro_top{width:100%;text-align:center;overflow:hidden;padding:15px 0;}

.cf{display:none;}

.cf.current{display:block;}

#tab_cat_pro .title_tab a.current{background:#e00;color:white;border-color:#e00;}

/****************************************** Boxed */.boxed{padding:2px;background:#ddd;border:1px solid #666 }

.boxed ul{background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(204,204,204)), color-stop(1, rgb(238,238,238)));background:-moz-linear-gradient(center bottom, rgb(204,204,204) 0%, rgb(238,238,238) 100%) }

.register_view_content_inner .fieldheader{font-weight:700;background-color:#ccc;padding:5px}

.register_view_content_inner td.label{text-align:right;line-height:30px}

.register_view_content_inner td.label span{padding-right:10px;font-size:11px;font-weight:700}

.register_view_content_inner td.label span i{font-weight:normal}

.register_view_content_inner input.input_text{width:250px;border:1px solid #888}

.register_view_content_inner select{border:1px solid #888;width:82px}

.register_view_content_inner .font-red{color:red}

.register_view_content_inner input.register_submit{background:url(../images/register_submit.jpg) no-repeat;width:80px;height:27px;border:0;cursor:pointer;float:left;margin-left:37%;}

.register_view_content_inner input.register_reset{background:url(../images/register_reset.jpg) no-repeat;width:80px;height:27px;border:0;cursor:pointer;float:left;margin-left:10px;}

#backgroundPopup{display:none;position:fixed;_position:absolute;height:100%;width:100%;top:0;left:0;background:#000000;border:1px solid #cecece;z-index: 9999;}

#popupContact{display:none;position:fixed !important;_position:absolute;border:0px solid #666;z-index: 99991;padding:7px;font-size:13px;text-align:center;}

#popupContact div{text-align:right;}

#popupContact h1{text-align:left;color:#096;font-size:18px;font-weight:700;border-bottom:1px dotted #CCC;padding-bottom:2px;margin-bottom:20px;}

#popupContactClose{font-size:12px;line-height:16px;right:-34px;top:4px;color:#ffffff;position:absolute;font-weight:700;}

#popupContact .popupText{color:#FFFFFF;font-size:36px;font-weight:bold;line-height:57px;padding:150px 10px 0;text-align:center;z-index:9999}

#popupContact .popupLink{text-align:center;}

#popupContact .popupLink a{text-decoration:none;color:#999999;}

#popupContact .popupLink a:hover{color:#ffffff;}

.buid-title .cssSymbol{background:url("../images/icon-buid.png") no-repeat scroll left top transparent;display:inline-block;height:54px;vertical-align:middle;width:46px;}

.buid-title h1{display:inline-block;padding-left:10px;vertical-align:middle;}

.buid-table{border:1px solid #cfcfcf;width:100%;}

.buid-table .buid-process{border-right:1px solid #ccc;}

.buid-table .buid-view{width:218px;}

.process-title{background:url("../images/icon-buid.png") repeat-x scroll left -56px transparent;border-bottom:1px solid #cfcfcf;height:53px;}

.process-title p{font-size:14px;font-weight:bold;margin:0;padding:18px 0 0 10px;}

.process-title a{color:#002e96;font-size:12px;font-weight:100;text-decoration:underline;}

.process-title a:hover{text-decoration:none;}

.process-filter{padding-left:5px;width:160px;}

.process-filter h2{font-size:12px;}

.process-filter ul{padding-bottom:10px;}

.process-filter li{padding:5px 0;}

.process-filter li input{vertical-align:middle}

.process-filter li .symbol{/* background:url("../images/icon-buid.png") repeat-x scroll left -110px transparent; */display:inline-block;height:8px;vertical-align:middle;/* width:8px; */}

.process-filter a{color:#4b4b4b;text-decoration:none;}

.process-filter a:hover{color:#e3081c;}

.process-right{border-left:1px solid #eee;}

#pcbuilder_box h2{cursor:pointer;font-size:12px;}

.bTitle{background-color:#eee;font-weight:bold;text-align:center;}

.bTitle td{padding:5px 0;}

.bTitle-cols1{width:50px;}

.bTitle-cols2{width:100px;}

.bTitle-cols4{width:100px;}

.bList td{border-bottom:1px dotted #eee;vertical-align:top;}

.bList:hover{background-color:#fff6e5;}

.bList p{margin:0;padding-bottom:5px;}

.bList-cols1{font-weight:bold;text-align:center;width:40px;}

.bList-cols2{width:100px;}

.bList-cols4{text-align:center;width:100px;}

.bList .cssImg img{max-width:85px;}

.bList .cssName a{color:#000;font-weight:bold;text-decoration:none;}

.bList .cssName a:hover{text-decoration:underline;}

.bList .cssSummary{color:#666;word-wrap:break-word;width:500px;}

.bList .cssPrice{color:red;font-weight:bold;}

.bList .cssSelect a{color:#002e96;text-decoration:underline;}

.bList .cssSelect a:hover{text-decoration:none;}

.view-title{background:url("../images/icon-buid.png") repeat-x scroll left -56px transparent;border-bottom:1px solid #cfcfcf;height:53px;}

.view-title p{font-size:14px;font-weight:bold;margin:0;padding:8px 0 0 10px;}

#pc_part_total_price{font-weight:bold;padding:5px 0 0 10px;}

#pc_part_total_price span{color:#f30000;}

.view-content{padding-left:10px;padding-right:10px;}

.view-content h2{font-size:12px;}

.view-content p{margin:0;padding-bottom:5px;}

.view-content .cssName a{color:#272727;text-decoration:none;}

.view-content .cssName a:hover{text-decoration:underline;}

.view-content .cssSelect{padding-bottom:10px;}

.view-content .cssSelect b{color:red;padding-right:10px;}

.view-content .cssSelect a{color:#002e96;text-decoration:underline;}

.view-content .cssSelect a:hover{text-decoration:none;}

.view-content #pc_part_select div{border-bottom:1px dotted silver;}

.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{border:0;outline:none;vertical-align:top;margin:0;padding:0}

.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}

.fancybox-skin{position:relative;background:#fff;color:#555;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}

.fancybox-opened{z-index:8030}

.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}

.fancybox-outer,.fancybox-inner{position:relative}

.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}

.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Tahoma,sans-serif;white-space:nowrap;margin:0;padding:15px}

.fancybox-image,.fancybox-iframe{display:block;width:100%;height:100%}

.fancybox-image{max-width:100%;max-height:100%}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-image:url(../images/fancybox_sprite.png)}

#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060}

#fancybox-loading div{width:44px;height:44px;background:url(../images/fancybox_loading.gif) center center no-repeat}

.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}

.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(../images/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}

.fancybox-prev{left:0}

.fancybox-next{right:0}

.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}

.fancybox-prev span{left:10px;background-position:0 -36px}

.fancybox-next span{right:10px;background-position:0 -72px}

.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}

.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(../images/fancybox_overlay.png)}

.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}

.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}

.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Tahoma,sans-serif;position:relative;text-shadow:none;z-index:8050}

.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}

.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap;padding:2px 20px}

.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}

.fancybox-title-inside-wrap{padding-top:10px}

.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;background:rgba(0,0,0,.8);padding:10px}

.fancybox-inner,.fancybox-lock{overflow:hidden}

.fancybox-nav:hover span,.fancybox-opened .fancybox-title{visibility:visible}

#img_thumb{margin-left:-5px;overflow:hidden;}

#img_thumb li a{text-align:center;display:table-cell !important;vertical-align:middle;width:83px;height:83px;}

#support_online_detail{border:solid 1px #ccc;padding:5px 10px;margin-top:5px;}

#support_online_detail .title{font-weight:bold;font-size:13px;margin-bottom:5px;}

#support_online_detail a{text-decoration:none;color: #333;}

#support_online_detail img{float:left;margin-right:5px;}

#support_online_detail table{width:100%;}

#support_online_detail table td{padding:3px 0;}

#thumbs ul{margin-left:-5px;}

.content_scroll_tab{float:right;width:613px;overflow:hidden;}

.autocomplete-suggestions{border:1px solid #ccc;background:#FFF;cursor:default;overflow:auto;width:442px;display:none;z-index:999;position:absolute;top:31px;}

.autocomplete-suggestion{padding:3px 5px;overflow:hidden;}

.autocomplete-suggestion.selected{background:#B0D5F6;}

.autocomplete-selected{background:#F0F0F0;}

.autocomplete-suggestions strong{font-weight:normal;color:#3399FF;}

.autocomplete-suggestions a{text-decoration:none;color: #333;}

.autocomplete-suggestions a:hover{color:#d00 !important;}

.banner_scroll{position:fixed;top:147px;width: 72px;}

.banner_scroll.scroll_right{margin-left: 1200px;}

.banner_scroll.scroll_left{margin-left:-71px;}

#slider img{width:980px;height:346px;display:block;float:left;cursor:pointer;}

#container_slider{width:980px;height:346px;overflow:hidden;margin-left:221px;}

#button_buy a{

    float: left;

    height: 37px;

    margin-left: 7px;

    display: block;

}

.pagingViewed{background-color:#CB0000;color:#fff;font-weight:bold;padding:2px 6px;}

.pagingSpace{width:2px;}

.pagingIntact{background-color:#fff;border:1px solid #848484;padding:2px 6px;}

.pagingIntact a{color:#525252;font-weight:bold;text-decoration:none;}

.pageding{margin-top:10px;margin-bottom:10px;}

.prevSlider{position:absolute;z-index:90;top:17px;left:0;}

.nextSlider{position:absolute;z-index:90;right:0;top:17px;}

.view_cate_news{float:right;color:#d00;font-size:15px;text-decoration:none;margin-top:5px;}

.view_cate_news:hover{color:#333;}

#content_popup_order .list_number a{text-decoration:none;}

#content_popup_order .list_number a span{width:69px;display:inline-block;}

.highstreet{bottom:0;position:fixed;z-index: 99;}

.highstreet-inner{position:relative;}

.highstreet-inner .btn-highstreet{overflow:hidden;}

.highstreet-inner .btn-highstreet a{background:url("../images/ads-bg.gif") no-repeat scroll top right transparent;display:block;float:right;height:81px;width:100%;}

.highstreet-inner .btn-highstreet a span{background:url("../images/ads-btn.png") no-repeat scroll 0 0 transparent;display:block;float:right;height:42px;margin:27px 10px 0 0;width:38px;}

.highstreet-inner .btn-highstreet a:hover, .highstreet-inner .btn-highstreet .open{background-position:right -78px;}

.highstreet-inner .btn-highstreet .open span{background-position:0 -42px;}

.highsteet-gallery{background:white;position:relative;border:solid 5px #007AB0;float:left;margin-top:-3px;}

.highsteet-gallery-inner{overflow:hidden;position:relative;padding:1px;}

.highsteet-gallery-inner ul li{float:left;}

.highsteet-gallery-inner ul li:nth-child(6){}

.highsteet-gallery-inner ul li img{}

.highsteet-gallery-inner ul li a{display:block;float:left;}

.highsteet-gallery-inner ul li img{padding:2px;}

#top > .container > ul > li:hover > span, #top > .container > ul > li:hover > a{color:red;}

#link_back{text-transform:uppercase;text-decoration:none;display:block;overflow:hidden;line-height:22px;}

#link_back img{float:left;margin-top:-6px;}

.btn_orange.large{background:url(../images/btn_orange_large.png) repeat-x;height:38px;text-align:center;line-height:38px;font-size:18px;}

.content_scroll_tab table{max-width:613px !important;}

.scroll-to-fixed-fixed #img_thumb,.scroll-to-fixed-fixed .qick_link,.scroll-to-fixed-fixed .share{display:none;}

#img_detail #price_deal_detail.detail{padding:0 !important;}

#img_detail #price_deal_detail img{margin:0;}

#price_deal_detail_2{float:left;width:230px;}

#img_detail .button_buy{float:right;width:115px;}

#img_detail .button_buy a{margin:3px 0;text-align:center;font-size:12px;}

.name_show{font-size:14px;font-weight:bold;margin:5px 0 0 0;display:none;}

.scroll-to-fixed-fixed .name_show{display:block;}

#banner_pro_list li img{height:220px;width: 595px;}

#banner_pro_list li{float:left;margin-left:10px;}

.btn_slider{width:50px;height:50px;background:url(../images/icon_slider.png) no-repeat;position:absolute;top:40%;cursor:pointer;opacity:0.8;display:none;z-index: 9;}

.btn_slider.next{right:5px;background-position:right top;}

.btn_slider.prev{left:5px;}

#banner_pro_list ul{margin-left:-10px;}

.hover_vat{display:block;width:100%;clear:both;}

a.remove_qc{position:absolute;left: 0px;top: -17px;z-index: 9;}

#article_related_pro li {list-style: none;overflow: hidden;margin-bottom: 8px;}

#article_related_pro li img {float: left;width: 100px;height: 30px;}

#article_related_pro li span {color: #0078AD;}

#article_related_pro li a:hover {color: #333;}

#article_related_pro li a:hover span {text-decoration: underline;}

/********COMMENT********/

.itemcomment{border:solid 1px #CCC;padding:5px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}

.itemcommenthome{border-bottom:dashed 1px #e7e7e7;margin-left:5px;margin-right:5px;padding-bottom:5px;}

.info_feeback span {

    color: #555;

}

.like_comment img {

    padding-right: 5px;

}

.like_comment span {

    color: #0B5EAE;

}

.comment_left img {

width: 35px;

border-radius: 50%;

margin-top: 5px;

}

.comment_left {

width: 40px;

float: left;

}

.comment_right {

    margin-left: 44px;

}

.comment_user_address {

    font-size: 10px;

    color: #888;

}

.write_reply{background:url(../images/viet.png) left 2px no-repeat;display: inline-block;text-decoration:none;padding-left:13px;color:#0B5EAE;font-style:italic;padding-right: 7px;}

.write_reply:hover{text-decoration:underline;}

.reply_content {

    background: #E2F4F6;

    padding: 2px 5px;

    border-radius: 3px;

}

.c5 {

    clear: both;

    height: 5px;

}

.line{border-top:dashed 1px #ccc;padding:5px 0;}

.item_comment{padding-bottom:10px;}

.item_comment p{margin:3px 0;}

.comment_right a{text-decoration:none;}

#write_comment img {

    vertical-align: middle;

    margin-top: -3px;

}

#write_comment a {

    text-decoration: none;

}

.box_pro_home:nth-child(2n) {

    border-left-color: #ccc;

}

.pro_price u,.p_price u,.box_pro_right ul li .price u {

    font-size: 10px;

    vertical-align: top;

}

#price_detail u {

    font-size: 13px;

    font-weight: normal;

    vertical-align: top;

}



#table_raw table {

    width: 48%;

    float: left;

    border-collapse: collapse;

    margin: 5px 8px;

}

#table_raw table ul {

    padding: 0;

    margin: 0;

    list-style: none;

}

#table_raw table td {

    padding: 3px;

    border: solid 1px #ccc;

}

#table_raw table .att-header td {

    border: none;

    color: #387100;

    font-weight: bold;

    font-size: 14px;

}

.info_comment {

    padding: 5px 0;

}

.info_comment input {

    border: solid 1px #ccc !important;

    width: 285px;

}

ul#review_rating {

list-style: none;

padding: 0px;

}

ul#review_rating li.first {

display: block;

width: 100%;

}

ul#review_rating li {

float: left;

}

.content_scroll_tab textarea {

width: 591px;

border: 1px solid #ccc;

}



a.sub1 {

    color: #d00;

    font-weight: bold;

    line-height: 25px;

    width: 200px;

    padding: 0 10px;

}

a.sub2 {

    line-height: 20px;

    width: 100%;

    padding: 0 10px;

    display: block;

    color: #333;

}

a.sub2:hover{text-decoration:underline !important; color:#e00;}

.content_detail a {

    font-size: initial;

}

.banner_left img {

    width: 210px;

}

.btn_large_red,.btn_large_orange,.btn_large_cyan {

    display: inline-block;

    background: #e00;

    color: white !important;

    text-align: center;

    font-size: 11px;

    padding: 5px 25px;

    border-radius: 3px;

    border: solid 1px #B60000;

}

.btn_large_red span,.btn_large_cyan span,.btn_large_orange span {

    text-transform: uppercase;

    font-weight: bold;

    display: block;

    font-size: 17px;

}

.btn_large_orange{

    background: #F9A421;

    border: solid 1px #D77E0A;

    line-height: 37px;

}

.btn_large_cyan{

    background: #4FABDA;

    border: solid 1px #2C8ED5;

}

#button_buy a:first-child {

    margin-left: 0;

}

#button_buy {

    overflow: hidden;

    padding: 5px 0;

}



#list_support_footer ul {

    padding: 0;

    list-style: none;

}



#list_support_footer ul li {

    padding: 5px 0;

    border-top: solid 1px #ddd;

}



#list_support_footer ul li b {

    font-size: 18px;

    color: #e00;

    padding-right: 56px;

}

#tbl_cacchinhsach {

    width: 100%;

    margin: 8px 0;

}



#tbl_cacchinhsach td img {

    float: left;

    margin-top: -8px;

}



#tbl_cacchinhsach a {

    display: block;

    width: 251px;

    float: right;

    font-size: 13px;

}

#tbl_cacchinhsach a:hover { color:#ff0000; }

.table_div {

    font-family: Roboto Condensed;

    font-size: 15px;

}

#thumbs span{border:solid 2px transparent;}

div#banner-deal img {

    width: 100%;

}

#list_deal li .wrap_time {

    float: right;

    width: 137px; margin-bottom:10px;

    background: #f5f5f5;

    padding: 5px;

    margin-right: 5px;

}



#list_deal li .wrap_time .time_left {

    background: #FFF;

    border: solid 1px #D8D8D8;

    padding: 2px 10px;

    width: 115px;

    text-align: right;

}

#list_deal li .wrap_time .title-giasoc {

    float: right;

    margin-bottom: 2px;

}

.wrap_price_detail {

    float: left;

}

.price-soc {

    font-size: 18px;

}



.price-soc b {

    color: #e00 !important;

    font-size: 31px;

}

.content_scroll_tab table td {

    word-break:break-all;

    word-break: break-word;

}

.icon-km {

    background: #00BD75;

    display: block;

    position: absolute;

    color: white;

    font-weight: bold;

    width: 30px;

    height: 30px;

    border-radius: 50%;

    -moz-border-radius: 50%;

    -webkit-border-radius: 50%;

    line-height: 30px;

    text-align: center;

    left: 5px;

    top: 118px;

    z-index: 99;

}

.filter.brand li a {

    text-transform: uppercase;

}

.b_l {

    padding: 0;

    margin: 0;

}



ul.b_l li {

    display: inline-block;



    margin: 2px;

}

ul.b_l li .img-bank{

  border: solid 2px #ccc;

}

.img-active {

	border: 2px solid blue !important

}



.container > .product_list{width: 100%;}

.container > .product_list ul li{width: 198.5px;}





.home #nav_vertical ul.ul_menu{display: block;}

#nav_vertical:hover ul.ul_menu{display: block;}

#nav_vertical ul.ul_menu{display: none;}

.related_products .product_list ul li {height: auto;}

.related_products .price{font-size: 17px; font-weight: bold; color:red;}

#nav_vertical ul li:hover{background-color:#A99F03}

#nav_vertical ul li {position: relative;}

#nav_vertical ul li ul {display: none; position: absolute; top: 0; left: 81%; list-style: none; width: 220px;}

#nav_vertical ul li ul li {background-color:#A99F03}

#nav_vertical ul li:hover ul {display: block;}





#nav_vertical > ul, .hover_name, #footer {

    background-color: #E2D715 !important;

}

.product_list .hover_content_pro ul li {

	 width: auto;

	height: auto;

    float: left;

    border: none;

    position: relative;

    margin-bottom: 0px;

    margin-left: 0px;

}



#order_popup {

background: #0843C7;

position: fixed;

bottom: 0;

overflow: hidden;

width: 370px;

left: 0;

z-index: 992;

border-radius: 3px 3px 0 0;

font-size: 12px;

padding: 5px 0;

}

#content_popup_order{background:white;overflow: hidden;margin: 5px;margin-bottom: 0;border: solid 1px #000;}

.img_tel{width: 60px; height:95px; background-position: -755px -295px; float:left; margin-right:10px;}

#content_popup_order .list_number{float:right;margin-top: 5px;margin-right: 10px;}



.btn_popup{display:inline-block; background:url('../images/btn_show_popup.png')  no-repeat; width:30px; height:16px;float: right;margin-right: 6px; margin-top: 3px;}

.btn_popup.show{background-position:right top; display:none;}

.btn_popup.hide{background-position:left top;}

#order_popup a {

    color: #333;

}

.gallery_img {list-style: none;margin:0; padding: 0;}

.gallery_img li {

	width: 80px;

    display: inline-block;

    vertical-align: top;

    height: 80px;

    border: 2px solid #DAD9D9;

    overflow: hidden;

    margin-top: 7px;

}

.gallery_img li img{height: 100%; width: 100%;}

.related_products .hover_vat {

    display: block;

    width: 100%;

    clear: both;

    margin-top: 5px;

    text-align: center;

}

.best_sale .container_old_price {

    line-height: 23px;

    margin-top: 19px;

    overflow: hidden;

    height: auto;

    margin-left: 60px;

} 

#admin_menu {background: #333; position: fixed; width: 100%; top: 0; z-index: 9999;}

#admin_menu ul {list-style: none; margin: 0; padding: 0; }

#admin_menu ul li {border-right: 1px solid #5A5A5A; display: inline-block;float: left; position: relative;}

#admin_menu ul li:hover {background: #444;}

#admin_menu ul li a{color:#fff; text-decoration: none;padding: 7px 15px 7px 10px; display: block;}

#admin_menu ul li.last{float: right;border: none;}

#admin_menu ul li ul {position: absolute; top:28px; left: 0;background: #616060; display: none;}

#admin_menu ul li ul li a {width: 185px; }

#admin_menu ul li:hover ul {display: block;}

.content_scroll_tab.related_products {overflow: visible;}

#nav_horizontal li {
	border-left: solid 1px #BFB509;
}
#boxtop {
    background: #000;
    margin-bottom: 10px;
}
#boxtop ul {
	width: 800px;
	margin: 0 auto;
}
#boxtop ul li {
	display: inline-block;
	color: #fff;
	padding: 10px 40px;
}
#boxtop ul li.hotline {
	background: url(../images/phone.png) 10px center no-repeat;
    background-size: 25px;
}
#boxtop ul li span {
	font-weight: bold;
}
#boxtop ul li a {
	color: #fff;
	text-decoration: none;
}
#boxtop ul li.baogia {
	background: url(../images/documents.png) 10px center no-repeat;
    background-size: 30px;
}
#boxtop ul li.tintuc {
	background: url(../images/news.png) 10px center no-repeat;
    background-size: 26px;
}
#boxtop ul li a:hover {
	color: yellow;
}
.col-sm-3{width:20%;float:left;}
.col-sm-4{width:22%;float:left;}
.col-sm-8{width:78%;float:left;}
.col-sm-9{width:79%;float:left;}
.steps{
    background: #F1E40B;
    padding: 10px 20px;
    font-size: 17px;
    margin-right: 5px;
    border-bottom: 2px solid #D1C709;
}
.build_computer .col-sm-9{
	border: 1px dotted #eee;
}
.process-filter ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.process-filter h2 {
    font-size: 12px;
}
.process-filter li {
    padding: 5px 0;
}
.process-filter a {
    color: #4b4b4b;
    text-decoration: none;
}