@charset "utf-8";body{color:#222;font-family:arial, Helvetica, sans-serif;font-size:12px;margin:0;padding:0;min-width:320px;}
a{color:#333;font-size:12px;text-decoration:none;}
.ul{padding:0;margin:0;list-style:none;}
.nopad_r{padding-right:0 !important;}
.nopad_l{padding-left:0 !important;}
.nomar_r{margin-right:0 !important;}
.nomar_l{margin-left:0 !important;}
.nomar_t{margin-top:0 !important;}
.nobdr{border:none !important;}
.nobdr_l{border-left:none !important;}
.nobdr_r{border-right:none !important;}
.nobg{background:none !important;}
img{border:none;}
.clear{clear:both;}
.line_through{text-decoration:line-through;}
.underline{text-decoration:underline;}
.float_l{float:left !important;}
.float_r{float:right !important;}
.space{height:5px;clear:both;display:block;}
.space2{height:10px;clear:both;display:block;}
.space3{height:20px;width:100%;overflow:hidden;}
.text{width:300px;height:25px;border:solid 1px #ddd;padding-left:5px;margin-right:10px;}
.m_container{min-width:300px;max-width:800px;margin:auto;}
.red{color:#e00 !important;}
#top{height:30px;background:#333;color:white;line-height:30px;position:relative;padding:0 5px;}
#hotline{float:left;margin-top:6px;margin-left:4px;color:white;font-weight:bold;font-size:15px;}
#language{float:right;margin-top:8px;margin-right:5px;}
#search{margin-left:70px;background:#FFF;height:25px;margin-right:61px;position:relative;}
.cssSubmit{float:right;margin-top:6px;margin-right:9px;}
#search .cssText{padding-left:5px;border:none;height:20px;background:transparent;width:88%;position:absolute;left:0;outline:none;top:1px;color:#888;}
#header img{}
#header img{vertical-align:middle;margin-right:5px;}
#nav{text-align:center;position:relative;background:url(../images/bg_nav_horizontal.png) left top repeat-x;height:29px;padding-top:4px;}
#nav a{text-decoration:none;}
#wrap_slider{width:100%;overflow:hidden;position:relative;margin:5px 0;}
#wrap_slider img{width:100%;}
.rslides_tabs{position:absolute;right:10px;bottom:10px;z-index:99;}
.rslides_tabs li{font-size:0;float:left;list-style:none;width:16px;height:16px;background:#333;border-radius:50%;margin-left:3px;}
.rslides_tabs li a{font-size:0;display:block;width:100%;height:100%}
.rslides_tabs li.rslides_here{background:#e00;}
#cate_home{text-align:center;margin:15px 0;}
#cate_home a{display:inline-block;margin:5px;}
#hot_pro ul li{float:left;width:130px;margin:0 10px;}
.h_title{height:30px;border-bottom:solid 1px #d00;position:relative;}
.h_title h2,.h_title h1{margin:0;line-height:30px;background:white;float:left;padding-right:10px;color:#d00;font-size:18px;font-weight:normal;}
#hot_pro{position:relative;overflow:hidden;height:217px;}
.m_pro_list li{overflow:hidden;padding:8px 0;border-bottom:solid 1px #ddd;}
.m_pro_list li .p_img{float:left;width:120px;display:block;border:solid 1px #ccc;}
.m_pro_list li .p_img img{width:120px;}
.m_pro_list li .p_right{margin-left:130px;}
.m_pro_list{margin-top:20px;}
.m_pro_list li .p_right .p_price{display:block;margin:5px 0;}
#hot_pro .btn_carousel{position:absolute;right:0;top:0px;width:30px;}
#hot_pro .btn_carousel .m_prev{float:left;}
#hot_pro .btn_carousel .m_next{float:right;}
.news_home a{text-decoration:none;}
.news_home{border:solid 1px #ccc;padding-bottom:10px;}
.title_box_news{line-height:30px;background:#eee;font-weight:bold;text-transform:uppercase;font-size:15px;padding:0 8px;}
.first_news{padding:10px;overflow:hidden;}
.first_news h3{margin:5px 0;}
.first_news h3 a{font-size:13px;}
.first_news img{float:left;margin-right:10px;}
.news_home ul{padding-left:32px;list-style:disc;}
.news_home ul li{padding:2px 0;}
.news_home_more{display:block;margin:0 10px;background:#d00;color:white;padding:8px 10px;text-transform:uppercase;text-align:center;margin-top:10px;}
#view_version{margin:15px 0;text-align:center;}
#view_version a{text-decoration:none;display:inline-block;margin:0 15px;height:80px;}
#menu_footer{background:#333;height:30px;text-align:center;margin-top:15px;}
#menu_footer a{display:inline-block;color:white;line-height:30px;padding:0 5px;text-decoration:none;}
#copyright{margin:10px 0;text-align:center;}
#social_footer{float:right;}
#social_footer a{text-decoration:none;margin:6px 0;display:inline-block;}
.sub_nav{position:absolute;z-index:99;width:100%;top:85px;background:white;border:solid 1px #ccc;display:none;}
.sub_nav a{display:block;line-height:29px;width:100% !important;}
.sub_nav .sub2{display:none;}
.sub_nav .sub1{border-bottom:solid 1px #ccc;position:relative;}
.sub_nav a:hover{background:#ddd;}
.sub_nav .sub1 span.arrow{height:0;width:0;display:inline-block;border-left:solid 5px transparent;border-top:solid 5px #333;border-right:solid 5px transparent;margin-top:14px;}
.sub_nav .sub1 span.btn_drop{position:absolute;right:0;top:0;height:100%;display:block;width:29px;text-align:center;cursor:pointer;}
.sub_nav .sub1.active > a{color:#d00;background:#eee;font-weight:bold;}
.paging{float:right; margin: 15px 0 10px;}
.paging li {display: inline-block;float: left !important;width: auto !important;background: transparent !important;}
.paging li span, .paging li a{    background: #F7F7F7;
    border: 1px solid #D6D6D6;
    padding: 5px; }
.paging li.active span,.paging li:hover a{background:#d00;border:solid 1px #B00000;color:#fff;}
.icon_list_cate{float:right;margin-top:14px;}
.icon_list_cate{float:right;margin-top:14px;}
.similar_cate{position:absolute;right:0;top:40px;width:200px;background:white;border:solid 1px #ddd;background:#f5f5f5;display:none;}
.similar_cate a{display:block;text-decoration:none;padding:0 10px;line-height:27px;border-bottom:solid 1px #ddd;}
.similar_cate a:hover{background:#eee;color:#d00;}
#m_pro_detail{margin:20px 0;}
.location a{line-height:20px;text-decoration:none;}
.location{border-bottom:solid 1px #ccc;padding-bottom:3px;}
#m_img_detail{position:relative;overflow:hidden;text-align:center;box-shadow:0 0 5px 1px #ccc;border-radius:5px;margin-bottom:10px;}
#m_img_detail .btn_carousel{position:absolute;top:45%;width:100%;z-index:99;}
#m_img_detail li{float:left;width:200px;margin:0 10px;}
#m_img_detail li img{max-width:200px;max-height:200px;}
#m_img_detail .btn_carousel .m_prev{float:left;}
#m_img_detail .btn_carousel .m_next{float:right;}
#m_overview{border-top:solid 1px #ddd;}
#m_overview h1{font-size:18px;margin-bottom:5px;}
#m_overview p{margin:4px 0;}
.m_title_tab{background:#272727;height:30px;line-height:30px;padding:0 10px;margin:2px 0;cursor:pointer;text-transform:uppercase;text-align:left;}
.m_title_tab a{font-size:13px;text-decoration:none;color:white;}
.m_title_tab span{float:right;font-size:22px;line-height:25px;font-weight:bold;}
.m_title_tab.current{background:#D80000;}
.m_title_tab.current a{color:white;}
.m_title_tab.current span{color:white;}
#m_news_detail img{max-width:100%;}
#btl_m_contact input[type="text"],#btl_m_contact textarea{width:100%;}
#sub_cat a{display:block;text-decoration:none;line-height:30px;border-bottom:solid 1px #ddd;font-size:13px;padding-left:5px;}
#sub_cat a:hover{background:#eee;transition-duration:0.4s;}
#top img{vertical-align:middle;}
a.xdmt{float:left;margin-right:20px;}
#top .xdmt{color:white;white-space:normal;float:left;}
#share_top{float:left;margin-right:20px;}
#support_top{float:right;cursor:pointer;}
.icon_drop{display:inline-block;border:solid 5px #ccc;border-color:#ccc transparent transparent transparent;}
#support_top .icon_drop{float:right;margin-top:13px;margin-left:5px;}
#cart{float:right;cursor:pointer;}
#account_header{float:right;margin-right:15px;font-weight:bold;white-space:nowrap;cursor:pointer;}
#header{padding:10px 0;}
#hotline_header{font-weight:bold;color:#e00;font-size:18px;margin-bottom:15px;}
#account_header img{float:left;margin-top:-2px;}
#cart img{float:left;margin-top:-4px;}
#m_menu{position:absolute;left:5px;color:#fff;font-weight:bold;line-height:18px;height: 23px;top:8px;}
#sub_menu{position:absolute;display:none;z-index:999;background:#f5f5f5;top:33px;width:100%;text-align:left;}
#sale_link{float:right;}
#sale_link{display:block;line-height:25px;color:white;font-weight:bold;white-space:nowrap;margin-right:5px;}
#m_menu img{float:right;margin-left:5px;}
#nav_vertical > ul > li:hover{background-color:#E03232;}
#nav_vertical{position:relative;}
#nav_vertical a{text-decoration:none;display:block;}
#nav_vertical > ul{background:#d10307;}
#nav_vertical > ul > li > a{color:white;text-transform:uppercase;font-weight:bold;}
#nav_vertical > ul > li{border-bottom:solid 1px #9a0104;border-top:solid 1px #e93737;margin-bottom:3px;background:url(../images/icon_list_cate_home.png) 7px center no-repeat;padding-left:40px;line-height:34px;overflow:hidden;height:34px;}
#nav_vertical > ul > li:last-child{border-bottom:none;}
#box_pro_special_home .title_tab{line-height:30px;background:#ccc;margin-bottom:6px;height:30px;}
#box_pro_special_home .title_tab a.a_tab{text-decoration:none;font-size:13px;padding:0 10px;display:block;float:left;white-space:nowrap;border-bottom:solid 2px transparent;height:27px;}
#box_pro_special_home .title_tab a.viewall{float:right;color:white;text-decoration:none;}
#box_pro_special_home{margin-bottom:15px;position:relative;}
.a_tab.current{border-bottom:solid 3px #d00 !important;color:#d00;font-weight:bold;}
.product_list ul{padding:0;margin:0;list-style:none;}
.product_list a{text-decoration:none;}
.product_list ul li{width:300px;float:left;margin-left:5px;position:relative;margin-bottom:5px;}
.p_container{padding:10px;}
.p_sku{color:red;font-size:11px;}
.p_img img{width:90px;display:block;margin:auto;max-height:150px;}
.p_img{float:left;margin-right:10px;}
.p_price{color:#e00;font-weight:bold;font-size:16px;display:block;}
.p_old_price{text-decoration:line-through;display:block;color:#777;float:left;margin-top:4px;}
.p_name{line-height:16px;height:32px;overflow:hidden;display:block;margin-bottom:5px;color:#333;}
.p_info{margin-left:100px;overflow:hidden;}
.price_off{color:#d00;font-weight:bold;}
.btn_carousel_mobile{width:23px;height:26px;background:url(../images/m_icon_carousel.png) center center no-repeat;position:absolute;z-index:99;top:70px;cursor:pointer;}
.btn_carousel_mobile.prev{background-position:left center;}
.btn_carousel_mobile.next{background-position:right center;right:0;}
.title_box_home{height:30px;background:#444;color:white;line-height:30px;padding:0 10px;}
.p_quantity{margin:5px 0;float:left;margin-right:10px;}
.box_footer{position:relative;margin:2px 0;}
.icon_compress{position:absolute;right:10px;top:7px;z-index:9;font-weight:bold;font-size:18px;}
.box_footer ul li{line-height:19px;}
.box_footer h3{background:rgb(238, 238, 238);height:30px;line-height:30px;padding:0px 10px;border-radius:3px;border:1px solid rgb(204, 204, 204);border-../image-source:initial;border-../image-slice:initial;border-../image-width:initial;border-../image-outset:initial;border-../image-repeat:initial;font-weight:normal;margin:0;}
.bg{background:url(../images/sprite.png) no-repeat;display:inline-block;}
#news_letter a{display:inline-block;text-decoration:none;cursor:pointer;color:white;line-height:25px;float:right;font-size:0;width:34px;height:34px;}
#news_letter input{height:21px;width:181px;float:left;padding-left:5px;outline:none;border:none;margin-left:5px;margin-top:6px;background:none;}
#news_letter{width:232px;height:36px;background-position:-271px -101px;margin-top:10px;}
.icon_thanhtoanantoan{width:206px;height:68px;background-position:-81px -146px;margin:13px 0;}
.box_footer ul{display:none;}
.footer_address h3{height:30px;background:#e00;color:white;margin:0;line-height:30px;padding:0 10px;border-radius:3px;}
.footer_address{margin:2px 0;position:relative;}
.footer_address .icon_compress{color:white;}
#copyright{line-height:20px;}
#main_cat li{float:left;width:50%;list-style:none;text-align:left;margin:9px 0;}
#main_cat{padding:0;margin:0;padding:10px;}
#main_cat li img{float:left;margin-right:10px;margin-top:-7px;}
#sub_menu .list_nav{padding:15px 10px;text-align:left;overflow:hidden;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
#sub_menu .list_nav a{display:block;float:left;width:200px;margin:5px 0;}
#list_sub_category a{display:block;font-size:13px;float:left;padding:0 10px;line-height:25px;background:#eee;margin-right:2px;margin-bottom:2px;white-space:nowrap;}
#list_sub_category a:hover{display:block;font-size:13px;color:#e00}
.bg.icon_home{width:19px;height:18px;background-position:-457px -63px;}
#location{overflow:hidden;clear:both;border-bottom:solid 1px #ddd;margin:5px 0;padding-bottom:5px;}
#select_filter select,.action_pro_list select{height:25px;width:150px;margin:2px 0;border:dotted 1px #aaa;}
#list_sub_category{overflow:hidden;margin:10px 0;}
.btn_compare.bg{width:78px;height:27px;background-position:-320px -196px;border:none;margin-left:10px;}
.action_pro_list button{float:left;}
.action_pro_list select{float:right;margin-top:-1px;margin-right:5px;}
.action_pro_list{padding:5px 0;background:#ddd;height:23px;margin:10px 0;}
.p_compare{float:left;margin-top:2px;}
.p_compare input{vertical-align:middle;}
#select_filter .title_box_right{float:left;white-space:nowrap;height:28px;background:#eee;line-height:28px;padding:0 10px 0 10px;border:dotted 1px #aaa;margin-right:5px;}
#select_filter .title_box_right h2{margin:0;font-size:12px;float:left;}
#select_filter .title_box_right .icon_drop{margin-top:12px;margin-left:7px;}
#select_filter .content_box{overflow:hidden;position:absolute;background:white;width:100%;z-index:99;top:32px;display:none;}
#select_filter{position:relative;height:30px;}
#select_filter .content_box li{float:left;width:50%;padding: 5px 0;}
#select_filter .content_box ul{margin-bottom:10px;overflow:hidden;}
#select_filter .content_box h3{margin:0;margin-bottom:10px;}
i.bg.icon_fav{width:14px;height:12px;background-position:-521px -224px;float:left;margin-top:2px;margin-right:3px;}
#m_img_detail img{max-width:100%;}
.bg.charge{width:172px;height:52px;background-position:-7px -307px;}
.btn_compare_link{width:53px;height:48px;background-position:-189px -312px;}
.btn_../image_link{background-position:-249px -311px;width:53px;height:47px;}
.btn_video_link{width:53px;height:46px;background-position:-307px -311px;}
ul.ul.qick_link li{float:left;margin-left:6px;}
ul.ul.qick_link{margin-top:5px;}
#m_overview table{width:100%;text-align:left;}
#m_overview table td{vertical-align:top;line-height:18px;}
.deal_heading{border:solid 1px #e00;}
.deal_heading #time_left_2{padding:5px 10px;}
.img_price_full{font-weight:bold;color:#e00;font-size:23px;margin:5px 0;}
#price_deal_detail_2 p{margin:3px 0;font-size:13px;}
#price_deal_detail_2 .percent_off{color:#e00;}
.btn_orange,.btn_red,.btn_cyan{display:block;background:url(../images/bg_button_orange.png) repeat-x;height:25px;padding:0 20px;line-height:25px;color:white;text-decoration:none;font-weight:bold;font-size:15px;border-radius:3px;border:solid 1px #D68731;text-shadow:1px 1px 2px #666;white-space:nowrap;}
.btn_orange:hover,.btn_red:hover,.btn_cyan:hover{color:white;box-shadow:0px 0px 1px #000}
.btn_red{background-../image:url(../images/bg_button_red.png);border-color:#a00;}
.btn_cyan{background-../image:url(../images/bg_button_cyan.png);border-color:#148AAF;}
.button_buy a{display:inline-block;white-space:nowrap;padding:0 7px;}
.button_buy{text-align:center;margin:10px 0;}
#hinhanh li{width:200px;text-align:center;float:left;margin:0 10px;}
#hinhanh li img{max-width:200px;max-height:200px;}
#hinhanh{overflow:hidden;}
#hinhanh ul{list-style:none;padding:0;margin:0;}
.h2_title{text-transform:uppercase;font-size:15px;margin-bottom:5px;border-bottom:solid 1px #ddd;padding-bottom:5px;}
.news_summary{margin:5px 0;line-height:17px;}
.news_time{display:block;margin-top:2px;color:#666;}
.box_other_news li{line-height:20px;margin: 5px 0;}
.title_box_cart{background:#eee;color:#333;font-size:15px;font-weight:bold;padding-left:7px;line-height:30px;border:solid 1px #bbb;margin-bottom:6px;}
.table-shopping-cart{border:1px solid #ccc;border-collapse:collapse;width:100%;line-height:19px;font-weight:bold;}
.table-shopping-cart td{padding:5px 10px;text-align:center;border:1px solid #ccc;}
.shopping-cart-first-row{background:#fafafa;color:#000;font-weight:700}
.shopping-cart-stt-col{width:20px}
.shopping-cart-price-col{width:110px}
.shopping-cart-quantity-col{width:60px}
.shopping-cart-sum-col{width:120px}
.shopping-cart-del-col{width:30px}
td.cart_img{vertical-align:top;border-right:none;}
.cart_img img{max-width:60px;max-height:70px;margin:0 10px 0 0;}
.tbl_combo{border-top:1px solid #ccc;border-collapse:collapse;margin:10px 0 0;width:100%;}
.tbl_combo td{text-align:center;}
.tbl_combo .cart_img img{max-width:40px;max-height:50px;margin:0 10px 0 0;}
td.td_combo{padding:0;}
.c1_col{width:100%;position:relative;}
.c1_col_l{width:240px;float:left;background:url(../images/i_promo.png) no-repeat center top;height:65px;padding:20px 0 0 70px;text-align:left;}
.c1_col_r{width:40%;float:right;text-align:left;padding:10px 0;line-height:21px;}
.btn_c1{position:relative;top:8px;}
td.txt_left{text-align:left;border-left:none;padding:5px 0 0;}
.c3_col_1{width:100%;float:left;line-height:22px;}
.c3_col_1 .txt1{padding-bottom:5px;}
.c3_col_1 [type=text]{width:100%;}
.c3_box{}
.t_line1{width:8%;float:left;}
.t_line1 input{position:relative;top:5px;}
.t_line2{width:90%;float:right;}
.c3_col_2{margin:0;}
.tbl_cart3{line-height:17px;}
.tbl_cart3 td{padding:5px 10px;border-bottom:1px solid #ccc;}
#tbl_list_cart td{border:solid 1px #ccc;}
#tbl_list_cart td p{margin:5px 0}
.c3_col_1 input[type="text"]{}
.c3_col_1 textarea{width:100%;}
.tbl_cart3 table td{border:solid 1px #CCC;}
#pay_install_product .cell{display:table-cell;vertical-align:top;}
#pay_install_product{}
#pay_install_product img{width:135px;margin-right:15px;}
#pay_install_product .p_name{text-decoration:none;font-weight:normal;font-size:17px;text-align:left;line-height:18px;height:auto;}
#qick_pay_install select{width:147px;height:25px;border:solid 1px #ccc;}
#pay_install_product p{margin:6px 0;}
.tbl_select_install{}
.tbl_select_install select{width:300px;height:30px;border:solid 1px #ccc;}
.tbl_select_install td{padding:4px 0;}
.tbl_list_bank{border-collapse:collapse;margin-top:20px;text-align:center;}
.tbl_list_bank td{border:solid 1px #ccc;padding:8px 5px;}
.tbl_list_bank a{text-decoration:none;}
.btn_common{background:#38A3DF;line-height:30px;text-align:center;color:white;border-radius:3px;box-shadow:1px 1px 1px #333;text-transform:uppercase;font-weight:bold;width:160px;display:block;margin:auto;}
.tbl_list_bank .col_title{font-weight:bold;text-align:left;}
.tbl_list_bank tr:nth-child(2n){background:#f6f6f6;}
.tbl_quytrinh{line-height:20px;}
.tbl_quytrinh img{height:125px;line-height:initial !important;}
.tbl_quytrinh td{vertical-align:top;}
.box_left2{border:solid 1px #ccc;border-radius:3px;}
.title_box_left2{line-height:33px;padding:0 10px;font-weight:bold;background:url('../images/bg_gradient_white.png') left bottom repeat-x;border-bottom:solid 1px #ccc;font-size:13px;text-transform:uppercase;}
.content_box_left2{padding:0 10px;padding-bottom:10px;}
.content_box_left2 p{margin:9px 0;}
.content_box_left2 a{text-decoration:none;font-weight:bold;color:#666;}
.content_box_left2 b{color:#d00;line-height:20px;font-size:13px;}
.content_box_left2 h3{margin:5px 0;color:#d00;margin-top:15px;}
.title_cs{text-transform:uppercase;margin-top:10px;font-weight:bold;border-bottom:solid 1px #ddd;padding-bottom:5px;}
#list_bv li{padding:6px 0;}
#list_bv li a{font-weight:normal;color:#222;}
#list_bv li span{font-size:14px;padding-right:3px;}
#list_bv li a:hover{color:#d00;}
#tbl_tragop .title{width:33%;background:#eee;color:#ff6b00;text-transform:uppercase;font-size:16px;}
#tbl_tragop .labelleft{float:left;width:49%;height:20px;text-align:left;}
#tbl_tragop .productcontainer .imgcontainer{float:left;width:120px;height:120px;overflow:hidden;padding:3px;text-align:center;}
#popup_order{display:none;width: 300px;}
#popup_order td{padding: 4px 5px;line-height: 15px;}
#tab_cat_pro .title_tab a{display:block;float:left;height:30px;color:white;padding:0 18px;background:#0794DE;text-transform:uppercase;line-height:30px;margin-right:4px;border-bottom:none;text-decoration:none;}
#intro_top{width:100%;text-align:center;overflow:hidden;padding:15px 0;}
.cf{display:none;}
.cf.current{display:block;}
#tab_cat_pro .title_tab a.current{background:#e00;color:white;border-color:#e00;}
.price_off{background:#C70404;color:white;width:35px;line-height:19px;float:left;text-align:center;border-radius:2px;font-size:11px;font-weight:bold;margin-left:5px;}
.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-../image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp{border:0;outline:none;vertical-align:top;margin:0;padding:0}
.fancybox-wrap{position:absolute;top:0;left:0;z-index:8020}
.fancybox-skin{position:relative;background:#fff;color:#555;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.fancybox-opened{z-index:8030}
.fancybox-opened .fancybox-skin{-webkit-box-shadow:0 10px 25px rgba(0,0,0,0.5);-moz-box-shadow:0 10px 25px rgba(0,0,0,0.5);box-shadow:0 10px 25px rgba(0,0,0,0.5)}
.fancybox-outer,.fancybox-inner{position:relative}
.fancybox-type-iframe .fancybox-inner{-webkit-overflow-scrolling:touch}
.fancybox-error{color:#444;font:14px/20px "Helvetica Neue",Helvetica,Tahoma,sans-serif;white-space:nowrap;margin:0;padding:15px}
.fancybox-../image,.fancybox-iframe{display:block;width:100%;height:100%}
.fancybox-../image{max-width:100%;max-height:100%}
#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span{background-../image:url(../images/fancybox_sprite.png)}
#fancybox-loading{position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:8060}
#fancybox-loading div{width:44px;height:44px;background:url(../images/fancybox_loading.gif) center center no-repeat}
.fancybox-close{position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:8040}
.fancybox-nav{position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url(../images/blank.gif);-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:8040}
.fancybox-prev{left:0}
.fancybox-next{right:0}
.fancybox-nav span{position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:8040;visibility:hidden}
.fancybox-prev span{left:10px;background-position:0 -36px}
.fancybox-next span{right:10px;background-position:0 -72px}
.fancybox-tmp{position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible!important}
.fancybox-overlay{position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:8010;background:url(../images/fancybox_overlay.png)}
.fancybox-overlay-fixed{position:fixed;bottom:0;right:0}
.fancybox-lock .fancybox-overlay{overflow:auto;overflow-y:scroll}
.fancybox-title{visibility:hidden;font:normal 13px/20px "Helvetica Neue",Helvetica,Tahoma,sans-serif;position:relative;text-shadow:none;z-index:8050}
.fancybox-title-float-wrap{position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:8050;text-align:center}
.fancybox-title-float-wrap .child{display:inline-block;margin-right:-100%;background:rgba(0,0,0,0.8);-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:700;line-height:24px;white-space:nowrap;padding:2px 20px}
.fancybox-title-outside-wrap{position:relative;margin-top:10px;color:#fff}
.fancybox-title-inside-wrap{padding-top:10px}
.fancybox-title-over-wrap{position:absolute;bottom:0;left:0;color:#fff;background:rgba(0,0,0,.8);padding:10px}
.fancybox-inner,.fancybox-lock{overflow:hidden}
.fancybox-nav:hover span,.fancybox-opened .fancybox-title{visibility:visible}
/****************************************** Boxed */.boxed{padding:2px;background:#ddd;border:1px solid #666 }
.boxed ul{background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(204,204,204)), color-stop(1, rgb(238,238,238)));background:-moz-linear-gradient(center bottom, rgb(204,204,204) 0%, rgb(238,238,238) 100%) }
.register_view_content_inner .fieldheader{font-weight:700;background-color:#ccc;padding:5px}
.register_view_content_inner td.label{line-height:30px}
.register_view_content_inner td.label span{padding-right:10px;font-size:11px;font-weight:700}
.register_view_content_inner td.label span i{font-weight:normal}
.register_view_content_inner input.input_text{width:250px;border:1px solid #888}
.register_view_content_inner select{border:1px solid #888;width:82px}
.register_view_content_inner .font-red{color:red}
.register_view_content_inner input.register_submit{background:url(../images/register_submit.jpg) no-repeat;width:80px;height:27px;border:0;cursor:pointer;float:left;margin-left:37%;}
.register_view_content_inner input.register_reset{background:url(../images/register_reset.jpg) no-repeat;width:80px;height:27px;border:0;cursor:pointer;float:left;margin-left:10px;}
#backgroundPopup{display:none;position:fixed;_position:absolute;height:100%;width:100%;top:0;left:0;background:#000000;border:1px solid #cecece;z-index:9999;}
#popupContact{display:none;position:fixed !important;_position:absolute;border:0px solid #666;z-index:99991;padding:7px;font-size:13px;text-align:center;}
#popupContact div{text-align:right;}
#popupContact h1{text-align:left;color:#096;font-size:18px;font-weight:700;border-bottom:1px dotted #CCC;padding-bottom:2px;margin-bottom:20px;}
#popupContactClose{font-size:12px;line-height:16px;right:-34px;top:4px;color:#ffffff;position:absolute;font-weight:700;}
#popupContact .popupText{color:#FFFFFF;font-size:36px;font-weight:bold;line-height:57px;padding:150px 10px 0;text-align:center;z-index:9999}
#popupContact .popupLink{text-align:center;}
#popupContact .popupLink a{text-decoration:none;color:#999999;}
#popupContact .popupLink a:hover{color:#ffffff;}
#carou_listbank{position:relative;}
#carou_listbank li{float:left;width:100%:}
#carou_listbank .btn_carousel_mobile{top:36px;}
#carou_listbank .btn_carousel_mobile.prev{left:auto;right:20px;}
#carou_listbank .btn_carousel_mobile.next{right:5px;}
.hOnline{top:30px;position:absolute;z-index:999;right:0;display:none;width:100%;}
.hOnline-order{background-color:#f9fafc;color:#000;text-align:left;border:solid 1px #0e74bc;font-size:12px;}
.online-header{background-color:#0e74bc;color:#fff;font-size:14px;line-height:18px;padding:10px 0;text-align:center;}
.online-title{border-bottom:1px solid #dee2e5;color:#c31634;font-size:14px;margin-right:25px;padding:5px 0 0;}
.online-content{line-height:20px;padding-bottom:10px;}
.online-content .cssLeft{float:left;padding-top:10px;width:30%;}
.online-content .cssRight{float:right;padding-top:10px;width:66%;}
.online-content a{color:#2d94df !important;text-decoration:none;}
.online-content a:hover{text-decoration:underline;}
.icon_tel_support{width:16px;height:16px;background-position:-493px -238px;float:left;margin-right:5px;margin-top:1px;}
.icon_email_support{width:15px;height:10px;background-position:-492px -201px;float:left;margin-right:5px;margin-top:5px;}
.online-footer{background-color:#0e74bc;color:#fff;font-size:13px;padding:2px 10px;text-align:center;text-transform:none;}
.online-footer a{color:#fff;font-weight:bold;text-decoration:underline;}
.online-footer a:hover{text-decoration:none;}
#compare_area_home{position:fixed;bottom:0;left:0;background:white;border:solid 1px #1A1A1A;display:none;z-index:99999999999;}
#compare_area_home span{display:block;font-size:15px;background:#d00;line-height:25px;padding:0 10px;color:white;white-space:nowrap;}
#compare_area_home .compare_area{padding:10px;}
#box_pro_special_home .caroufredsel_wrapper{height:100px !important;}
.footer_address li a{color:#0063C3;}
.tbl_footer {
    width: 100%;
    background: #eee;
    border: solid 1px #ccc;
    border-radius: 2px;
    padding: 3px;
}

.tbl_footer a {
    font-weight: bold;
    font-size: 15px;
    color: #d00;
    padding-bottom: 10px;
}

/********COMMENT********/
.itemcomment{border:solid 1px #CCC;padding:5px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.itemcommenthome{border-bottom:dashed 1px #e7e7e7;margin-left:5px;margin-right:5px;padding-bottom:5px;}
.info_feeback span {
    color: #555;
}
.like_comment img {
    padding-right: 5px;
}
.like_comment span {
    color: #0B5EAE;
}
.comment_left img {
width: 35px;
border-radius: 50%;
margin-top: 5px;
}
.comment_left {
width: 40px;
float: left;
}
.comment_right {
    margin-left: 44px;
}
.comment_user_address {
    font-size: 10px;
    color: #888;
}
.write_reply{background:url(../images/viet.png) left 2px no-repeat;display: inline-block;text-decoration:none;padding-left:13px;color:#0B5EAE;font-style:italic;padding-right: 7px;}
.write_reply:hover{text-decoration:underline;}
.reply_content {
    background: #E2F4F6;
    padding: 2px 5px;
    border-radius: 3px;
}
.c5 {
    clear: both;
    height: 5px;
}
.line{border-top:dashed 1px #ccc;padding:5px 0;}
.item_comment{padding-bottom:10px;}
.item_comment p{margin:3px 0;}
.comment_right a{text-decoration:none;}
#write_comment img {
    vertical-align: middle;
    margin-top: -3px;
}
#write_comment a {
    text-decoration: none;
}
.box_pro_home:nth-child(2n) {
    border-left-color: #ccc;
}
.pro_price u,.p_price u,.box_pro_right ul li .price u {
    font-size: 10px;
    vertical-align: top;
}
#price_detail u {
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
}

#table_raw table {
    width: 48%;
    float: left;
    border-collapse: collapse;
    margin: 5px 8px;
}
#table_raw table ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#table_raw table td {
    padding: 3px;
    border: solid 1px #ccc;
}
#table_raw table .att-header td {
    border: none;
    color: #387100;
    font-weight: bold;
    font-size: 14px;
}
.info_comment {
    padding: 5px 0;
}
.info_comment input {
    border: solid 1px #ccc !important;
    width: 285px;
}
ul#review_rating {
list-style: none;
padding: 0px;
}
ul#review_rating li.first {
display: block;
width: 100%;
}
ul#review_rating li {
    margin: 6px 0;
}

.buid-title .cssSymbol{background:url("../images/icon-buid.png") no-repeat scroll left top transparent;display:inline-block;height:54px;vertical-align:middle;width:46px;}
.buid-title h1{display:inline-block;padding-left:10px;vertical-align:middle;}
.buid-table{border:1px solid #cfcfcf;width:100%;}
.buid-table .buid-process{border-right:1px solid #ccc;}
.buid-table .buid-view{width:218px;}
.process-title{background:url("../images/icon-buid.png") repeat-x scroll left -56px transparent;border-bottom:1px solid #cfcfcf;height:53px;}
.process-title p{font-size:14px;font-weight:bold;margin:0;padding:18px 0 0 10px;}
.process-title a{color:#002e96;font-size:12px;font-weight:100;text-decoration:underline;}
.process-title a:hover{text-decoration:none;}
.process-filter{padding-left:5px;width:160px;}
.process-filter h2{font-size:12px;}
.process-filter ul{padding-bottom:10px;}
.process-filter li{padding:5px 0;}
.process-filter li input{vertical-align:middle}
.process-filter li .symbol{/* background:url("../images/icon-buid.png") repeat-x scroll left -110px transparent; */display:inline-block;height:8px;vertical-align:middle;/* width:8px; */}
.process-filter a{color:#4b4b4b;text-decoration:none;}
.process-filter a:hover{color:#e3081c;}
.process-right{border-left:1px solid #eee;}
#pcbuilder_box h2{cursor:pointer;font-size:12px;}
.bTitle{background-color:#eee;font-weight:bold;text-align:center;}
.bTitle td{padding:5px 0;}
.bTitle-cols1{width:50px;}
.bTitle-cols2{width:100px;}
.bTitle-cols4{width:100px;}
.bList td{border-bottom:1px dotted #eee;vertical-align:top;}
.bList:hover{background-color:#fff6e5;}
.bList p{margin:0;padding-bottom:5px;}
.bList-cols1{font-weight:bold;text-align:center;width:40px;}
.bList-cols2{width:100px;}
.bList-cols4{text-align:center;width:100px;}
.bList .cssImg img{max-width:85px;}
.bList .cssName a{color:#000;font-weight:bold;text-decoration:none;}
.bList .cssName a:hover{text-decoration:underline;}
.bList .cssSummary{color:#666;word-wrap:break-word;width:500px;}
.bList .cssPrice{color:red;font-weight:bold;}
.bList .cssSelect a{color:#002e96;text-decoration:underline;}
.bList .cssSelect a:hover{text-decoration:none;}
.view-title{background:url("../images/icon-buid.png") repeat-x scroll left -56px transparent;border-bottom:1px solid #cfcfcf;height:53px;}
.view-title p{font-size:14px;font-weight:bold;margin:0;padding:8px 0 0 10px;}
#pc_part_total_price{font-weight:bold;padding:5px 0 0 10px;}
#pc_part_total_price span{color:#f30000;}
.view-content{padding-left:10px;padding-right:10px;}
.view-content h2{font-size:12px;}
.view-content p{margin:0;padding-bottom:5px;}
.view-content .cssName a{color:#272727;text-decoration:none;}
.view-content .cssName a:hover{text-decoration:underline;}
.view-content .cssSelect{padding-bottom:10px;}
.view-content .cssSelect b{color:red;padding-right:10px;}
.view-content .cssSelect a{color:#002e96;text-decoration:underline;}
.view-content .cssSelect a:hover{text-decoration:none;}
.view-content #pc_part_select div{border-bottom:1px dotted silver;}
#select_filter .content_box li a {
    text-transform: uppercase;
}
/********COMMENT********/
.itemcomment{border:solid 1px #CCC;padding:5px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;}
.itemcommenthome{border-bottom:dashed 1px #e7e7e7;margin-left:5px;margin-right:5px;padding-bottom:5px;}
.info_feeback span {
    color: #555;
}
.like_comment img {
    padding-right: 5px;
}
.like_comment span {
    color: #0B5EAE;
}
.comment_left img {
width: 35px;
border-radius: 50%;
margin-top: 5px;
}
.comment_left {
width: 40px;
float: left;
}
.comment_right {
    margin-left: 44px;
}
.comment_user_address {
    font-size: 10px;
    color: #888;
}
.write_reply{background:url(../images/viet.png) left 2px no-repeat;display: inline-block;text-decoration:none;padding-left:13px;color:#0B5EAE;font-style:italic;padding-right: 7px;}
.write_reply:hover{text-decoration:underline;}
.reply_content {
    background: #E2F4F6;
    padding: 2px 5px;
    border-radius: 3px;
}
.c5 {
    clear: both;
    height: 5px;
}
.line{border-top:dashed 1px #ccc;padding:5px 0;}
.item_comment{padding-bottom:10px;}
.item_comment p{margin:3px 0;}
.comment_right a{text-decoration:none;}
#write_comment img {
    vertical-align: middle;
    margin-top: -3px;
}
#write_comment a {
    text-decoration: none;
}
.box_pro_home:nth-child(2n) {
    border-left-color: #ccc;
}
.pro_price u,.p_price u,.box_pro_right ul li .price u {
    font-size: 10px;
    vertical-align: top;
}
#price_detail u {
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
}

#table_raw table {
    width: 48%;
    float: left;
    border-collapse: collapse;
    margin: 5px 8px;
}
#table_raw table ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#table_raw table td {
    padding: 3px;
    border: solid 1px #ccc;
}
#table_raw table .att-header td {
    border: none;
    color: #387100;
    font-weight: bold;
    font-size: 14px;
}
.info_comment {
    padding: 5px 0;
}
.info_comment input {
    border: solid 1px #ccc !important;
    width: 60%;
    height: 23px;
    padding-left: 5px;
    display: block;
    margin-bottom: 5px;
    float: left;
}
ul#review_rating {
list-style: none;
padding: 0px;
}
ul#review_rating li.first {
display: block;
width: 100%;
}
ul#review_rating li {
/* float: left; */
}
.menu-home li {
    width: 25%;
    height:75px;
    float: left;
}

.menu-home li a {
    display: block;
    text-align: center;
    font-size: 10px;
    border: solid 1px #ccc;
    height: 71px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 1px;
    background: url(../images/m_bg_iconmenu.png) left bottom repeat-x;
}

.menu-home li a img {
    display: block;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 5px;
    max-width: 30%;
}
.location2 a,.location2 span {
    float: left;
    padding: 0 3px;
    display: block;
    line-height: 30px;
    margin-bottom: 2px;
}
#m_news_detail table {
    word-break: break-all;      word-break: break-word;
    max-width: 100% !important;
    width: auto !important;
}
#location a {
    display: inline-block;
    line-height: 25px;
    margin-bottom: 2px;
}

.btn_orange, .btn_red, .btn_cyan {
    display: block;
    background: url(../images/bg_button_orange.png) repeat-x;
    height: 25px;
    padding: 0 20px;
    line-height: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    border: solid 1px #D68731;
    text-shadow: 1px 1px 2px #666;
    white-space: nowrap;
}
.btn_red {
    background-image: url(../images/bg_button_red.png);
    border-color: #a00;
}
.btn_cyan {
    background-image: url(../images/bg_button_cyan.png);
    border-color: #148AAF;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #F7F7F7;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff;
  position: fixed;
  top: 0; 
  z-index: 9999;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding: 20px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #009ae1;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 12px;
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}
